# Notebook to be used to Develop Display of Results

In [1]:
from importlib import reload
import pandas as pd
import numpy as np
from IPython.display import Markdown

In [47]:
# If one of the modules changes and you need to reimport it,
# execute this cell again.
import heatpump.hp_model
reload(heatpump.hp_model)
import heatpump.home_heat_model
reload(heatpump.home_heat_model)
import heatpump.library as lib
reload(lib)

In [48]:
# Anchorage large home inputs
util = lib.util_from_id(1)
inputs1 = dict(
    city_id=1,
    utility=util,
    pce_limit=500.0,
    co2_lbs_per_kwh=1.1,
    exist_heat_fuel_id=2,
    exist_unit_fuel_cost=0.97852,
    exist_fuel_use=1600,
    exist_heat_effic=.8,
    exist_kwh_per_mmbtu=8,
    exist_is_point_source=False,
    includes_dhw=True,
    includes_dryer=True,
    includes_cooking=False,
    occupant_count=3,
    elec_use_jan=550,
    elec_use_may=400,
    hp_model_id=575,
    low_temp_cutoff=5,
    garage_stall_count=2,
    garage_heated_by_hp=False,
    bldg_floor_area=3600,
    indoor_heat_setpoint=70,
    insul_level=3,  
    pct_exposed_to_hp=0.46,
    doors_open_to_adjacent=False,
    bedroom_temp_tolerance=2,
    capital_cost=4500,
    rebate_dol=500,
    pct_financed=0.5,
    loan_term=10,
    loan_interest=0.05,
    hp_life=14,
    op_cost_chg=10,
    sales_tax=0.02,
    discount_rate=0.05,
    inflation_rate=0.02,
    fuel_esc_rate=0.03,
    elec_esc_rate=0.02,
)

In [49]:
# Ambler Home inputs
util = lib.util_from_id(202)
inputs2 = dict(
    city_id=45,
    utility=util,
    pce_limit=500.0,
    co2_lbs_per_kwh=1.6,
    exist_heat_fuel_id=4,
    exist_unit_fuel_cost=8.0,
    exist_fuel_use=450,
    exist_heat_effic=.86,
    exist_kwh_per_mmbtu=8,
    exist_is_point_source=True,
    includes_dhw=False,
    includes_dryer=False,
    includes_cooking=False,
    occupant_count=3,
    elec_use_jan=550,
    elec_use_may=300,
    hp_model_id=575,
    low_temp_cutoff=5,
    garage_stall_count=0,
    garage_heated_by_hp=False,
    bldg_floor_area=800,
    indoor_heat_setpoint=70,
    insul_level=2,  
    pct_exposed_to_hp=1.0,
    doors_open_to_adjacent=False,
    bedroom_temp_tolerance=3,
    capital_cost=6500,
    rebate_dol=0,
    pct_financed=0.0,
    loan_term=10,
    loan_interest=0.05,
    hp_life=14,
    op_cost_chg=0,
    sales_tax=0.00,
    discount_rate=0.05,
    inflation_rate=0.02,
    fuel_esc_rate=0.03,
    elec_esc_rate=0.02,
)

In [50]:
inputs2

{'city_id': 45,
 'utility': ID                                                            202
 Name                                    AVEC-Ambler - Residential
 Active                                                       True
 Type                                                            1
 IsCommercial                                                False
 ChargesRCC                                                  False
 PCE                                                        0.2943
 CO2                                                           1.8
 CustomerChg                                                     5
 DemandCharge                                                  NaN
 NameShort                                                  AVEC-A
 Blocks          [(700.0, 0.525100007653236), (nan, 0.425099998...
 Name: 202, dtype: object,
 'pce_limit': 500.0,
 'co2_lbs_per_kwh': 1.6,
 'exist_heat_fuel_id': 4,
 'exist_unit_fuel_cost': 8.0,
 'exist_fuel_use': 450,
 'exist_heat_effic': 0.86,
 'exist_kwh_per_mmbtu': 8,
 'exist_is_point_source': True,
 'includes_dhw': False,
 'includes_dryer': False,
 'includes_cooking': False,
 'occupant_count': 3,
 'elec_use_jan': 550,
 'elec_use_may': 300,
 'hp_model_id': 575,
 'low_temp_cutoff': 5,
 'garage_stall_count': 0,
 'garage_heated_by_hp': False,
 'bldg_floor_area': 800,
 'indoor_heat_setpoint': 70,
 'insul_level': 2,
 'pct_exposed_to_hp': 1.0,
 'doors_open_to_adjacent': False,
 'bedroom_temp_tolerance': 3,
 'capital_cost': 6500,
 'rebate_dol': 0,
 'pct_financed': 0.0,
 'loan_term': 10,
 'loan_interest': 0.05,
 'hp_life': 14,
 'op_cost_chg': 0,
 'sales_tax': 0.0,
 'discount_rate': 0.05,
 'inflation_rate': 0.02,
 'fuel_esc_rate': 0.03,
 'elec_esc_rate': 0.02}

In [51]:
# Change from **inputs1 to **inputs2 to run the two cases.
mod = heatpump.hp_model.HP_model(**inputs2)
mod.run()

# Pull out the results from the model object.
# Use these variable names in your display of outputs.
smy = mod.summary
df_cash_flow = mod.df_cash_flow
df_mo_en_base = mod.df_mo_en_base
df_mo_en_hp = mod.df_mo_en_hp
df_mo_dol_base = mod.df_mo_dol_base
df_mo_dol_hp = mod.df_mo_dol_hp

0.0

In [52]:
# This is a dictionary containing summary output.
# The 'fuel_use_xxx' values are annual totals in physical units
# like gallons.  'elec_use_xxx' are kWh.  'hp_max_capacity' is the
# maximum output of the heat pump at 5 deg F.  'max_hp_reached' 
# indicates whether the heat pump ever used all of its capacity
# at some point during the year.
smy

{'fuel_unit': 'gallon',
 'fuel_desc': '#1 Oil',
 'design_heat_load': 22064.5239237354,
 'design_heat_temp': -49.900000000000006,
 'cop': 2.508268539249126,
 'hp_max_capacity_5F': 11680.0,
 'max_hp_reached': False,
 'co2_lbs_saved': 208.53028229835581,
 'co2_driving_miles_saved': 233.81268134485651,
 'hp_load_frac': 0.47902369926526966,
 'irr': 0.07941129825086457,
 'npv': 1431.6514227230236,
 'fuel_use_base': 449.9999999999994,
 'fuel_use_hp': 237.4617501993434,
 'fuel_use_chg': -212.53824980065596,
 'fuel_price_incremental': 8.0,
 'elec_use_base': 4369.311927367413,
 'elec_use_hp': 7184.097470694089,
 'elec_use_chg': 2814.785543326676,
 'elec_rate_avg_base': 0.2482038012866406,
 'elec_rate_avg_hp': 0.30287327310755874,
 'elec_rate_incremental': 0.38773514681453625}

In [53]:
md = f"Design Heat Load: **{smy['design_heat_load']:,.0f} Btu/hour** at {smy['design_heat_temp']:.0f} degrees F outdoors"
md

'Design Heat Load: **22,065 Btu/hour** at -50 degrees F outdoors'

In [54]:
# You can get a string that is in Markdown format rendered properly
# by using the Markdown class.
Markdown(md)

Design Heat Load: **22,065 Btu/hour** at -50 degrees F outdoors

In [55]:
# Or, this might be a case where f-strings are not the cleanest.
# Here is another way:
md = 'Design Heat Load of Entire Building: **{design_heat_load:,.0f} Btu/hour** at {design_heat_temp:.0f} degrees F outdoors  \n(required output of heating system, no safety margin)'.format(**smy)
Markdown(md)

Design Heat Load of Entire Building: **22,065 Btu/hour** at -50 degrees F outdoors
(required output of heating system, no safety margin)

In [56]:
# Cash Flow over the life of the heat pump.
# Negative values are costs and positive values are benefits.
# When displaying this table delete the two columns that don't apply,
# depending on whether you are showing the PCE or no PCE case.
df_cash_flow

,initial_cost,loan_cost,op_cost,fuel_cost,elec_cost,cash_flow,cum_disc_cash_flow
year,,,,,,,
0,-6500.0,0.0,0.0,0.000000,-0.000000,-6500.000000,-6500.000000
1,0.0,-0.0,0.0,1700.305998,-1091.391286,608.914713,-5920.081226
2,0.0,-0.0,0.0,1751.315178,-1113.219112,638.096067,-5341.309284
3,0.0,-0.0,0.0,1803.854634,-1135.483494,668.371140,-4763.945163
4,0.0,-0.0,0.0,1857.970273,-1158.193164,699.777109,-4188.236804
5,0.0,-0.0,0.0,1913.709381,-1181.357027,732.352354,-3614.419571
6,0.0,-0.0,0.0,1971.120662,-1204.984168,766.136495,-3042.716723
7,0.0,-0.0,0.0,2030.254282,-1229.083851,801.170431,-2473.339855
8,0.0,-0.0,0.0,2091.161911,-1253.665528,837.496383,-1906.489338
9,0.0,-0.0,0.0,2153.896768,-1278.738838,875.157930,-1342.354733
10,0.0,-0.0,0.0,2218.513671,-1304.313615,914.200056,-781.115203
11,0.0,0.0,0.0,2285.069081,-1330.399888,954.669194,-222.939897
12,0.0,0.0,0.0,2353.621154,-1357.007885,996.613268,332.011662
13,0.0,0.0,0.0,2424.229788,-1384.148043,1040.081745,883.589218
14,0.0,0.0,0.0,2496.956682,-1411.831004,1085.125678,1431.651423

In [57]:
# The Base case and w/ Heat Pump monthly energy results.
df_mo_en_base

,hp_load_mmbtu,secondary_load_mmbtu,hp_kwh,secondary_fuel_mmbtu,secondary_kwh,hp_kw,secondary_fuel_units,cop,total_kwh,co2_lbs
Jan,0.0,9.246533,0.0,10.751783,73.972266,0.0,78.222091,NaN,73.972266,1852.618197
Feb,0.0,6.656062,0.0,7.739607,53.248499,0.0,56.307711,NaN,53.248499,1333.596279
Mar,0.0,5.660876,0.0,6.582414,45.287007,0.0,47.888818,NaN,45.287007,1134.202554
Apr,0.0,4.777631,0.0,5.555384,38.221045,0.0,40.416905,NaN,38.221045,957.237177
May,0.0,2.544315,0.0,2.958506,20.354520,0.0,21.523920,NaN,20.354520,509.774217
Jun,0.0,0.900646,0.0,1.047263,7.205171,0.0,7.619120,NaN,7.205171,180.451838
Jul,0.0,1.054949,0.0,1.226685,8.439596,0.0,8.924464,NaN,8.439596,211.367714
Aug,0.0,1.601511,0.0,1.862222,12.812088,0.0,13.548163,NaN,12.812088,320.875768
Sep,0.0,2.990686,0.0,3.477542,23.925492,0.0,25.300050,NaN,23.925492,599.208378
Oct,0.0,3.884551,0.0,4.516920,31.076407,0.0,32.861796,NaN,31.076407,778.301379
Nov,0.0,6.690553,0.0,7.779713,53.524424,0.0,56.599488,NaN,53.524424,1340.506751
Dec,0.0,7.185610,0.0,8.355360,57.484878,0.0,60.787476,NaN,57.484878,1439.695396

In [58]:
df_mo_en_hp

,hp_load_mmbtu,secondary_load_mmbtu,hp_kwh,secondary_fuel_mmbtu,secondary_kwh,hp_kw,secondary_fuel_units,cop,total_kwh,co2_lbs
Jan,0.898532,8.371876,110.470780,9.734739,66.975006,1.387730,70.822827,2.383841,177.445786,1854.126687
Feb,1.836803,4.868065,233.435251,5.660541,38.944520,1.396593,41.181945,2.306147,272.379770,1348.852841
Mar,3.429666,2.322338,439.086801,2.700393,18.578707,1.545562,19.646084,2.289246,457.665509,1167.838284
Apr,3.137896,1.723111,375.178328,2.003618,13.784890,1.555447,14.576854,2.451273,388.963218,945.524688
May,2.407919,0.200377,256.141603,0.232996,1.603012,1.450844,1.695108,2.755197,257.744615,449.973631
Jun,0.925230,0.000000,88.183351,0.000000,0.000000,0.573967,0.000000,3.075065,88.183351,141.093361
Jul,1.083745,0.000000,102.611953,0.000000,0.000000,0.585123,0.000000,3.095425,102.611953,164.179125
Aug,1.645226,0.000000,164.913360,0.000000,0.000000,0.997702,0.000000,2.923888,164.913360,263.861376
Sep,3.072320,0.000000,334.721813,0.000000,0.000000,1.092282,0.000000,2.690131,334.721813,535.554902
Oct,3.990584,0.000000,474.866731,0.000000,0.000000,1.507007,0.000000,2.462950,474.866731,759.786769
Nov,1.456369,5.272881,170.590375,6.131257,42.183046,1.414470,44.606530,2.502119,212.773422,1329.409185
Dec,1.925366,5.311402,265.576193,6.176049,42.491215,1.507007,44.932404,2.124786,308.067408,1489.104515

In [59]:
# The monthly dollar flows with and without the heat pump
# The PCE and no PCE case are included in this one table
df_mo_dol_base

,elec_kwh,elec_kw,elec_dol,secondary_fuel_units,secondary_fuel_dol,total_dol
Jan,550.000000,1.883562,146.655009,78.222091,625.776727,772.431736
Feb,440.347990,1.508041,106.632324,56.307711,450.461685,557.094009
Mar,415.475537,1.422861,100.891761,47.888818,383.110542,484.002304
Apr,351.475366,1.203683,86.120521,40.416905,323.335239,409.455760
May,300.000000,1.027397,74.240005,21.523920,172.191357,246.431362
Jun,220.678589,0.755749,55.932622,7.619120,60.952959,116.885581
Jul,230.771702,0.790314,58.262113,8.924464,71.395713,129.657826
Aug,251.138741,0.860064,62.962826,13.548163,108.385305,171.348130
Sep,293.401653,1.004800,72.717107,25.300050,202.400397,275.117503
Oct,361.708811,1.238729,88.482400,32.861796,262.894368,351.376768
Nov,449.802632,1.540420,108.814455,56.599488,452.795902,561.610357
Dec,504.510906,1.727777,122.768686,60.787476,486.299808,609.068493

In [60]:
df_mo_dol_hp

,elec_kwh,elec_kw,elec_dol,secondary_fuel_units,secondary_fuel_dol,total_dol
Jan,653.473520,3.271292,200.988955,70.822827,566.582614,767.571569
Feb,659.479261,2.904634,204.142570,41.181945,329.455557,533.598128
Mar,827.854039,2.968423,279.770762,19.646084,157.168669,436.939431
Apr,702.217539,2.759130,226.362686,14.576854,116.614832,342.977518
May,537.390095,2.478241,140.033548,1.695108,13.560862,153.594410
Jun,301.656769,1.329715,74.622388,0.000000,0.000000,74.622388
Jul,324.944060,1.375437,79.997095,0.000000,0.000000,79.997095
Aug,403.240012,1.857766,98.067802,0.000000,0.000000,98.067802
Sep,604.197975,2.097082,175.114366,0.000000,0.000000,175.114366
Oct,805.499135,2.745735,270.267693,0.000000,0.000000,270.267693
Nov,609.051629,2.954890,177.663020,44.606530,356.852238,534.515258
Dec,755.093437,3.234784,248.840230,44.932404,359.459229,608.299459

In [61]:
list(df_mo_en_base.columns.values)

['hp_load_mmbtu',
 'secondary_load_mmbtu',
 'hp_kwh',
 'secondary_fuel_mmbtu',
 'secondary_kwh',
 'hp_kw',
 'secondary_fuel_units',
 'cop',
 'total_kwh',
 'co2_lbs']

In [62]:
import plotly

plotly.tools.set_credentials_file(username='dustin_cchrc', api_key='yzYaFYf93PQ7D0VUZKGy')

import plotly.plotly as py
import plotly.graph_objs as go

## Monthly Heating Load

In [63]:
data = [go.Bar(x=df_mo_en_base.index,
           y=df_mo_en_base.secondary_load_mmbtu, 
             name='Monthly Heating Load')]

layout = go.Layout(title='Monthly Heating Load',
               xaxis=dict(title='Month'),
               yaxis=dict(title='Total Estimated Heat Load (MMBTU)', hoverformat='.1f')
                  )

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='estimated_heat_load', fileopt='overwrite')

## Heating Cost Comparison

In [64]:
df_mo_dol_chg = df_mo_dol_hp - df_mo_dol_base

df_mo_dol_chg['cost_savings'] = np.where(
    df_mo_dol_chg.total_dol < 0.0,
    -df_mo_dol_chg.total_dol,
    0.0
)

# Note: we make these negative values so bars extend downwards
df_mo_dol_chg['cost_increases'] = np.where(
    df_mo_dol_chg.total_dol >= 0.0,
    -df_mo_dol_chg.total_dol,
    0.0
)

df_mo_dol_chg

,elec_kwh,elec_kw,elec_dol,secondary_fuel_units,secondary_fuel_dol,total_dol,cost_savings,cost_increases
Jan,103.473520,1.387730,54.333946,-7.399264,-59.194113,-4.860167,4.860167,0.0
Feb,219.131271,1.396593,97.510246,-15.125766,-121.006127,-23.495881,23.495881,0.0
Mar,412.378502,1.545562,178.879001,-28.242734,-225.941873,-47.062872,47.062872,0.0
Apr,350.742173,1.555447,140.242165,-25.840051,-206.720407,-66.478242,66.478242,0.0
May,237.390095,1.450844,65.793543,-19.828812,-158.630495,-92.836952,92.836952,0.0
Jun,80.978180,0.573967,18.689765,-7.619120,-60.952959,-42.263193,42.263193,0.0
Jul,94.172357,0.585123,21.734982,-8.924464,-71.395713,-49.660731,49.660731,0.0
Aug,152.101272,0.997702,35.104976,-13.548163,-108.385305,-73.280328,73.280328,0.0
Sep,310.796322,1.092282,102.397259,-25.300050,-202.400397,-100.003137,100.003137,0.0
Oct,443.790324,1.507007,181.785293,-32.861796,-262.894368,-81.109075,81.109075,0.0
Nov,159.248998,1.414470,68.848565,-11.992958,-95.943664,-27.095099,27.095099,0.0
Dec,250.582530,1.507007,126.071544,-15.855072,-126.840579,-0.769034,0.769034,0.0

In [65]:
# calculate the change in dollars between the base scenario and the heat
# pump scenario.
hp_cost = go.Bar(
    x=df_mo_dol_hp.index,
    y=df_mo_dol_hp.total_dol,
    name='', 
    marker=dict(color='#377eb8'),
    hoverinfo = 'y',
)

cost_savings = go.Bar(
    x=df_mo_dol_chg.index,
    y=df_mo_dol_chg.cost_savings,
    name='Cost Savings',
    marker=dict(color='#4daf4a'),
    hoverinfo = 'y',
)

cost_increases = go.Bar(
    x=df_mo_dol_chg.index,
    y=df_mo_dol_chg.cost_increases,
    name='Cost Increases',
    marker=dict(color='#e41a1c'),
    hoverinfo = 'y',
)

no_hp_costs = go.Scatter(
    x=df_mo_dol_base.index,
    y=df_mo_dol_base.total_dol,
    name='Baseline Energy Costs',
    mode='markers',
    marker=dict(color='#000000', size=12),
    hoverinfo = 'y',
)

data = [hp_cost, cost_savings, cost_increases, no_hp_costs]

layout = go.Layout(
    title='Energy Costs: Heat Pump vs. Baseline',
    xaxis=dict(title='Month', fixedrange=True,),
    yaxis=dict(
        title='Total Energy Costs', 
        hoverformat='$,.0f',
        fixedrange=True,
        tickformat='$,.0f',
    ),
    barmode='stack',
    hovermode= 'closest',
)

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='heatpump_costs', fileopt='overwrite')

## Monthly Heat Pump Efficiency

In [66]:
efficiency = [go.Scatter(x=df_mo_en_hp.index,
                         y=df_mo_en_hp.cop, 
                        name='COP',
                        mode='lines+markers')]

layout = go.Layout(title='Monthly Heat Pump Efficiency',
                xaxis=dict(title='Month'),
                yaxis=dict(title='COP'))

fig = go.Figure(data=efficiency, layout=layout)

py.iplot(fig, layout=layout, filename='cop', fileopt='overwrite')

## Energy Use Comparison

In [67]:
list(df_mo_en_base.columns.values)

['hp_load_mmbtu',
 'secondary_load_mmbtu',
 'hp_kwh',
 'secondary_fuel_mmbtu',
 'secondary_kwh',
 'hp_kw',
 'secondary_fuel_units',
 'cop',
 'total_kwh',
 'co2_lbs']

In [68]:
list(df_mo_dol_base.columns.values)

['elec_kwh',
 'elec_kw',
 'elec_dol',
 'secondary_fuel_units',
 'secondary_fuel_dol',
 'total_dol']

In [69]:
list(df_mo_dol_hp.columns.values)

['elec_kwh',
 'elec_kw',
 'elec_dol',
 'secondary_fuel_units',
 'secondary_fuel_dol',
 'total_dol']

In [70]:
from plotly import tools

elec_no_hp = go.Scatter(x=df_mo_dol_base.index,
                        y=df_mo_dol_base.elec_kwh,
                        name='Monthly kWh (no Heat Pump)',
                        line=dict(color='#92c5de',
                                 width=2,
                                 dash='dash')
                        )

elec_w_hp = go.Scatter(x=df_mo_dol_hp.index,
                      y=df_mo_dol_hp.elec_kwh,
                      name='Monthly kWh (with Heat Pump)',
                      mode='lines',
                      marker=dict(color='#0571b0')
                      )

fuel_no_hp = go.Scatter(x=df_mo_dol_base.index,
                       y=df_mo_dol_base.secondary_fuel_units,
                       name='Monthly Fuel Usage (no Heat Pump)',
                       line=dict(color='#f4a582',
                                width = 2,
                                dash = 'dash')
                       )

fuel_w_hp = go.Scatter(x=df_mo_dol_hp.index,
                      y=df_mo_dol_hp.secondary_fuel_units,
                      name='Monthly Fuel Usage (with Heat Pump)',
                      mode='lines',
                      marker=dict(color='#ca0020'))

fig = tools.make_subplots(rows=2, cols=1)

fig.append_trace(elec_no_hp, 1, 1)
fig.append_trace(elec_w_hp, 1, 1)
fig.append_trace(fuel_no_hp, 2, 1)
fig.append_trace(fuel_w_hp, 2, 1)

fig['layout'].update(title='Energy Usage: Heat Pump vs. Baseline')

fig['layout']['xaxis1'].update(title='Month')
fig['layout']['xaxis2'].update(title='Month')
fig['layout']['yaxis1'].update(title='Electricity Use (kWh)', hoverformat='.0f')
yaxis2_title = 'Heating Fuel Use (%s)' % (smy['fuel_unit'])
fig['layout']['yaxis2'].update(title=yaxis2_title, hoverformat='.1f')

py.iplot(fig, filename='heatpump_energy_usage', fileopt='overwrite')

This is the format of your plot grid:
[ (1,1) x1,y1 ]
[ (2,1) x2,y2 ]

## Cash Flow Visualization

In [71]:
df_cash_flow

,initial_cost,loan_cost,op_cost,fuel_cost,elec_cost,cash_flow,cum_disc_cash_flow
year,,,,,,,
0,-6500.0,0.0,0.0,0.000000,-0.000000,-6500.000000,-6500.000000
1,0.0,-0.0,0.0,1700.305998,-1091.391286,608.914713,-5920.081226
2,0.0,-0.0,0.0,1751.315178,-1113.219112,638.096067,-5341.309284
3,0.0,-0.0,0.0,1803.854634,-1135.483494,668.371140,-4763.945163
4,0.0,-0.0,0.0,1857.970273,-1158.193164,699.777109,-4188.236804
5,0.0,-0.0,0.0,1913.709381,-1181.357027,732.352354,-3614.419571
6,0.0,-0.0,0.0,1971.120662,-1204.984168,766.136495,-3042.716723
7,0.0,-0.0,0.0,2030.254282,-1229.083851,801.170431,-2473.339855
8,0.0,-0.0,0.0,2091.161911,-1253.665528,837.496383,-1906.489338
9,0.0,-0.0,0.0,2153.896768,-1278.738838,875.157930,-1342.354733
10,0.0,-0.0,0.0,2218.513671,-1304.313615,914.200056,-781.115203
11,0.0,0.0,0.0,2285.069081,-1330.399888,954.669194,-222.939897
12,0.0,0.0,0.0,2353.621154,-1357.007885,996.613268,332.011662
13,0.0,0.0,0.0,2424.229788,-1384.148043,1040.081745,883.589218
14,0.0,0.0,0.0,2496.956682,-1411.831004,1085.125678,1431.651423

In [72]:
df_cash_flow['negative_flow'] = np.where(df_cash_flow.cash_flow < 0, df_cash_flow.cash_flow, 0)
df_cash_flow['positive_flow'] = np.where(df_cash_flow.cash_flow > 0, df_cash_flow.cash_flow, 0)

In [73]:
negative_flow = go.Bar(x=df_cash_flow.index,
                        y=df_cash_flow.negative_flow,
                        name='Cash Flow', 
                        marker=dict(color='#d7191c'))

positive_flow = go.Bar(x=df_cash_flow.index,
                        y=df_cash_flow.positive_flow,
                        name='Cash Flow', 
                        marker=dict(color='#000000'))

data = [negative_flow, positive_flow]

layout = go.Layout(title='Heat Pump Cash Flow',
               xaxis=dict(title='Year'),
               yaxis=dict(title='Annual Cash Flow ($)', hoverformat='dol,.0f')
                  )

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='cash_flow', fileopt='overwrite')

## Cumulative Discounted Cash Flow

In [74]:
df_cash_flow

,initial_cost,loan_cost,op_cost,fuel_cost,elec_cost,cash_flow,cum_disc_cash_flow,negative_flow,positive_flow
year,,,,,,,,,
0,-6500.0,0.0,0.0,0.000000,-0.000000,-6500.000000,-6500.000000,-6500.0,0.000000
1,0.0,-0.0,0.0,1700.305998,-1091.391286,608.914713,-5920.081226,0.0,608.914713
2,0.0,-0.0,0.0,1751.315178,-1113.219112,638.096067,-5341.309284,0.0,638.096067
3,0.0,-0.0,0.0,1803.854634,-1135.483494,668.371140,-4763.945163,0.0,668.371140
4,0.0,-0.0,0.0,1857.970273,-1158.193164,699.777109,-4188.236804,0.0,699.777109
5,0.0,-0.0,0.0,1913.709381,-1181.357027,732.352354,-3614.419571,0.0,732.352354
6,0.0,-0.0,0.0,1971.120662,-1204.984168,766.136495,-3042.716723,0.0,766.136495
7,0.0,-0.0,0.0,2030.254282,-1229.083851,801.170431,-2473.339855,0.0,801.170431
8,0.0,-0.0,0.0,2091.161911,-1253.665528,837.496383,-1906.489338,0.0,837.496383
9,0.0,-0.0,0.0,2153.896768,-1278.738838,875.157930,-1342.354733,0.0,875.157930
10,0.0,-0.0,0.0,2218.513671,-1304.313615,914.200056,-781.115203,0.0,914.200056
11,0.0,0.0,0.0,2285.069081,-1330.399888,954.669194,-222.939897,0.0,954.669194
12,0.0,0.0,0.0,2353.621154,-1357.007885,996.613268,332.011662,0.0,996.613268
13,0.0,0.0,0.0,2424.229788,-1384.148043,1040.081745,883.589218,0.0,1040.081745
14,0.0,0.0,0.0,2496.956682,-1411.831004,1085.125678,1431.651423,0.0,1085.125678

In [75]:
df_cash_flow['cum_negative_flow'] = np.where(df_cash_flow.cum_disc_cash_flow < 0, df_cash_flow.cum_disc_cash_flow, 0)
df_cash_flow['cum_positive_flow'] = np.where(df_cash_flow.cum_disc_cash_flow > 0, df_cash_flow.cum_disc_cash_flow, 0)

In [76]:
negative_cash_flow = go.Scatter(x=df_cash_flow.index,
                            y=df_cash_flow.cum_negative_flow,
                            name='Cash Flow ($)',
                            fill='tozeroy',
                            fillcolor='#d7191c',
                            line=dict(color='#ffffff')
                           )

positive_cash_flow = go.Scatter(x=df_cash_flow.index,
                            y=df_cash_flow.cum_positive_flow,
                            name='Cash Flow ($)',
                            fill='tozeroy',
                            fillcolor='#000000',
                            line=dict(color='#ffffff')
                           )

data = [negative_cash_flow, positive_cash_flow]

layout = go.Layout(title='Heat Pump Lifetime Cumulative Discounted Cash Flow',
                   xaxis=dict(title='Year'),
                   yaxis=dict(title='Annual Discounted Cash Flow ($)', hoverformat='.0f'),
                  )

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='cumulative_discounted_heatpump_cash_flow', fileopt='overwrite')

## Markdown Display of Results

In [77]:
## Need to account for NaN internal rate of return (hide somehow)

### With PCE

In [78]:
md_results = '''# Results

## Heat Pump Cost Effectiveness

### Net Present Value:  **\${:,.0f}**
The Net Present Value of installing an air-source heat pump is estimated to be **\${:,.0f}**. 
This means that over the course of the life of the equipment you will {} **\${:,.0f}** in today's dollars.

### Internal Rate of Return:  **{:.1f}%**
The internal rate of return on the investment is estimated to be **{:.1f}%**. Compare this tax-free investment to your other investment options.

### Cash Flow
This is how your cash flow will be affected by installing a heat pump:


## Greenhouse Gas Emissions

Installing a heat pump is predicted to save {:,.0f} pounds of CO2 emissions annually, or {:,.0f} pounds over the life of the equipment.
This is equivalent to a reduction of {:,.0f} miles driven by an average passenger vehicle annually, or {:,.0f} over the equipment's life.  
'''

In [79]:
def npv_indicator(summary, pce_indicator):
    if pce_indicator == 1:
        if summary['npv'] > 0:
            return 'earn'
        else:
            return 'lose'
    else: 
        if summary['npv_no_pce'] > 0:
            return 'earn'
        else:
            return 'lose'

In [80]:
smy

{'fuel_unit': 'gallon',
 'fuel_desc': '#1 Oil',
 'design_heat_load': 22064.5239237354,
 'design_heat_temp': -49.900000000000006,
 'cop': 2.508268539249126,
 'hp_max_capacity_5F': 11680.0,
 'max_hp_reached': False,
 'co2_lbs_saved': 208.53028229835581,
 'co2_driving_miles_saved': 233.81268134485651,
 'hp_load_frac': 0.47902369926526966,
 'irr': 0.07941129825086457,
 'npv': 1431.6514227230236,
 'fuel_use_base': 449.9999999999994,
 'fuel_use_hp': 237.4617501993434,
 'fuel_use_chg': -212.53824980065596,
 'fuel_price_incremental': 8.0,
 'elec_use_base': 4369.311927367413,
 'elec_use_hp': 7184.097470694089,
 'elec_use_chg': 2814.785543326676,
 'elec_rate_avg_base': 0.2482038012866406,
 'elec_rate_avg_hp': 0.30287327310755874,
 'elec_rate_incremental': 0.38773514681453625}

In [81]:
smy['npv']

1431.6514227230236

In [82]:
md = md_results.format(smy['npv'],
                       smy['npv'],
                      npv_indicator(smy, 1),
                      abs(smy['npv']),
                      smy['irr']*100,
                       smy['irr']*100,
                      smy['co2_lbs_saved'],
                      smy['co2_lbs_saved'] * 12,
                      smy['co2_driving_miles_saved'],
                      smy['co2_driving_miles_saved'] * 12)
Markdown(md)

# Results

## Heat Pump Cost Effectiveness

### Net Present Value:  **\$1,432**
The Net Present Value of installing an air-source heat pump is estimated to be **\$1,432**.
This means that over the course of the life of the equipment you will earn **\$1,432** in today's dollars.

### Internal Rate of Return:  **7.9%**
The internal rate of return on the investment is estimated to be **7.9%**. Compare this tax-free investment to your other investment options.

### Cash Flow
This is how your cash flow will be affected by installing a heat pump:


## Greenhouse Gas Emissions

Installing a heat pump is predicted to save 209 pounds of CO2 emissions annually, or 2,502 pounds over the life of the equipment.
This is equivalent to a reduction of 234 miles driven by an average passenger vehicle annually, or 2,806 over the equipment's life.

In [83]:
from textwrap import dedent
inputs = {'hp_life': 14}

In [84]:
sumd = smy.copy()
sumd['npv_abs'] =  abs(sumd['npv'])
sumd['irr'] *= 100.   # convert to %
sumd['npv_indicator'] = 'earn' if sumd['npv'] >= 0 else 'lose'
sumd['co2_lbs_saved_life'] = sumd['co2_lbs_saved'] * inputs['hp_life']
sumd['co2_driving_miles_saved_life'] = sumd['co2_driving_miles_saved'] * inputs['hp_life']

md_tmpl = dedent('''
# Results

## Heat Pump Cost Effectiveness

### Net Present Value:  **\${npv:,.0f}**

The Net Present Value of installing an air-source heat pump is estimated to 
be **\${npv:,.0f}**. This means that over the course of the life of the equipment you 
will {npv_indicator} **\${npv_abs:,.0f}** in today's dollars.

### Internal Rate of Return:  **{irr:.1f}%**

The internal rate of return on the investment is estimated to be **{irr:.1f}%**. 
Compare this tax-free investment to your other investment options.

### Cash Flow

This is how your cash flow will be affected by installing a heat pump:

## Greenhouse Gas Emissions

Installing a heat pump is predicted to save {co2_lbs_saved:,.0f} pounds of CO2 emissions annually, 
or {co2_lbs_saved_life:,.0f} pounds over the life of the equipment. This is equivalent to a reduction 
of {co2_driving_miles_saved:,.0f} miles driven by an average passenger vehicle annually, 
or {co2_driving_miles_saved_life:,.0f} miles over the equipment's life.  
''')

md = md_tmpl.format(**sumd)
Markdown(md)

# Results

## Heat Pump Cost Effectiveness

### Net Present Value:  **\$1,432**

The Net Present Value of installing an air-source heat pump is estimated to
be **\$1,432**. This means that over the course of the life of the equipment you
will earn **\$1,432** in today's dollars.

### Internal Rate of Return:  **7.9%**

The internal rate of return on the investment is estimated to be **7.9%**.
Compare this tax-free investment to your other investment options.

### Cash Flow

This is how your cash flow will be affected by installing a heat pump:

## Greenhouse Gas Emissions

Installing a heat pump is predicted to save 209 pounds of CO2 emissions annually,
or 2,919 pounds over the life of the equipment. This is equivalent to a reduction
of 234 miles driven by an average passenger vehicle annually,
or 3,273 miles over the equipment's life.

In [85]:
sumd

{'fuel_unit': 'gallon',
 'fuel_desc': '#1 Oil',
 'design_heat_load': 22064.5239237354,
 'design_heat_temp': -49.900000000000006,
 'cop': 2.508268539249126,
 'hp_max_capacity_5F': 11680.0,
 'max_hp_reached': False,
 'co2_lbs_saved': 208.53028229835581,
 'co2_driving_miles_saved': 233.81268134485651,
 'hp_load_frac': 0.47902369926526966,
 'irr': 7.941129825086457,
 'npv': 1431.6514227230236,
 'fuel_use_base': 449.9999999999994,
 'fuel_use_hp': 237.4617501993434,
 'fuel_use_chg': -212.53824980065596,
 'fuel_price_incremental': 8.0,
 'elec_use_base': 4369.311927367413,
 'elec_use_hp': 7184.097470694089,
 'elec_use_chg': 2814.785543326676,
 'elec_rate_avg_base': 0.2482038012866406,
 'elec_rate_avg_hp': 0.30287327310755874,
 'elec_rate_incremental': 0.38773514681453625,
 'npv_abs': 1431.6514227230236,
 'npv_indicator': 'earn',
 'co2_lbs_saved_life': 2919.4239521769814,
 'co2_driving_miles_saved_life': 3273.377538827991}