# Notebook to be used to Develop Display of Results

In [1]:
from importlib import reload
import pandas as pd
import numpy as np
from IPython.display import Markdown

In [40]:
# If one of the modules changes and you need to reimport it,
# execute this cell again.
import heatpump.hp_model
reload(heatpump.hp_model)
import heatpump.home_heat_model
reload(heatpump.home_heat_model)
import heatpump.library as lib
reload(lib)

In [38]:
# Anchorage large home inputs
util = lib.util_from_id(1)
inputs1 = dict(
    city_id=1,
    utility=util,
    pce_limit=500.0,
    co2_lbs_per_kwh=1.1,
    exist_heat_fuel_id=2,
    exist_unit_fuel_cost=0.97852,
    exist_fuel_use=1600,
    exist_heat_effic=.8,
    exist_kwh_per_mmbtu=8,
    exist_is_point_source=False,
    includes_dhw=True,
    includes_dryer=True,
    includes_cooking=False,
    occupant_count=3,
    elec_use_jan=550,
    elec_use_may=400,
    hp_model_id=575,
    indoor_high_mount=False,
    low_temp_cutoff=5,
    garage_stall_count=2,
    garage_heated_by_hp=False,
    bldg_floor_area=3600,
    indoor_heat_setpoint=70,
    insul_level=3,  
    pct_exposed_to_hp=0.46,
    doors_open_to_adjacent=False,
    bedroom_temp_tolerance=2,
    capital_cost=4500,
    rebate_dol=500,
    pct_financed=0.5,
    loan_term=10,
    loan_interest=0.05,
    hp_life=14,
    op_cost_chg=10,
    sales_tax=0.02,
    discount_rate=0.05,
    inflation_rate=0.02,
    fuel_esc_rate=0.03,
    elec_esc_rate=0.02,
)

In [39]:
# Ambler Home inputs
util = lib.util_from_id(202)
inputs2 = dict(
    city_id=45,
    utility=util,
    pce_limit=500.0,
    co2_lbs_per_kwh=1.6,
    exist_heat_fuel_id=4,
    exist_unit_fuel_cost=8.0,
    exist_fuel_use=450,
    exist_heat_effic=.86,
    exist_kwh_per_mmbtu=8,
    exist_is_point_source=True,
    includes_dhw=False,
    includes_dryer=False,
    includes_cooking=False,
    occupant_count=3,
    elec_use_jan=550,
    elec_use_may=300,
    hp_model_id=575,
    indoor_high_mount=False,
    low_temp_cutoff=5,
    garage_stall_count=0,
    garage_heated_by_hp=False,
    bldg_floor_area=800,
    indoor_heat_setpoint=70,
    insul_level=2,  
    pct_exposed_to_hp=1.0,
    doors_open_to_adjacent=False,
    bedroom_temp_tolerance=3,
    capital_cost=6500,
    rebate_dol=0,
    pct_financed=0.0,
    loan_term=10,
    loan_interest=0.05,
    hp_life=14,
    op_cost_chg=0,
    sales_tax=0.00,
    discount_rate=0.05,
    inflation_rate=0.02,
    fuel_esc_rate=0.03,
    elec_esc_rate=0.02,
)

In [41]:
# Change from **inputs1 to **inputs2 to run the two cases.
mod = heatpump.hp_model.HP_model(**inputs2)
mod.run()

# Pull out the results from the model object.
# Use these variable names in your display of outputs.
smy = mod.summary
df_cash_flow = mod.df_cash_flow
df_mo_en_base = mod.df_mo_en_base
df_mo_en_hp = mod.df_mo_en_hp
df_mo_dol_base = mod.df_mo_dol_base
df_mo_dol_hp = mod.df_mo_dol_hp

In [42]:
# This is a dictionary containing summary output.
# The 'fuel_use_xxx' values are annual totals in physical units
# like gallons.  'elec_use_xxx' are kWh.  'hp_max_capacity' is the
# maximum output of the heat pump at 5 deg F.  'max_hp_reached' 
# indicates whether the heat pump ever used all of its capacity
# at some point during the year.
smy

{'fuel_unit': 'gallons',
 'fuel_desc': '#1 Oil',
 'design_heat_load': 21478.25351576897,
 'design_heat_temp': -49.900000000000006,
 'cop': 2.269280369073903,
 'hp_max_capacity_5F': 11680.0,
 'max_hp_reached': False,
 'co2_lbs_saved': -157.925218303757,
 'co2_driving_miles_saved': -177.07221386073178,
 'irr': 0.057672067798577364,
 'npv': 361.39294342926945,
 'fuel_use_base': 449.99999999999994,
 'fuel_use_hp': 237.46175019934367,
 'fuel_use_chg': -212.53824980065627,
 'elec_use_base': 4369.311927367413,
 'elec_use_hp': 7413.132158570415,
 'elec_use_chg': 3043.8202312030025,
 'elec_rate_avg_base': 0.2482038012866406,
 'elec_rate_avg_hp': 0.3065000003964746}

In [14]:
md = f"Design Heat Load: **{smy['design_heat_load']:,.0f} Btu/hour** at {smy['design_heat_temp']:.0f} degrees F outdoors"
md

'Design Heat Load: **21,478 Btu/hour** at -50 degrees F outdoors'

In [15]:
# You can get a string that is in Markdown format rendered properly
# by using the Markdown class.
Markdown(md)

Design Heat Load: **21,478 Btu/hour** at -50 degrees F outdoors

In [16]:
# Or, this might be a case where f-strings are not the cleanest.
# Here is another way:
md = 'Design Heat Load of Entire Building: **{design_heat_load:,.0f} Btu/hour** at {design_heat_temp:.0f} degrees F outdoors  \n(required output of heating system, no safety margin)'.format(**smy)
Markdown(md)

Design Heat Load of Entire Building: **21,478 Btu/hour** at -50 degrees F outdoors
(required output of heating system, no safety margin)

In [17]:
# Cash Flow over the life of the heat pump.
# Negative values are costs and positive values are benefits.
# When displaying this table delete the two columns that don't apply,
# depending on whether you are showing the PCE or no PCE case.
df_cash_flow

,initial_cost,loan_cost,op_cost,fuel_cost,elec_cost,cash_flow,cum_disc_cash_flow
year,,,,,,,
0,-6500.0,0.0,0.0,0.000000,-0.000000,-6500.000000,-6500.000000
1,0.0,-0.0,0.0,1700.305998,-1187.645180,512.660818,-6011.751602
2,0.0,-0.0,0.0,1751.315178,-1211.398084,539.917095,-5522.030881
3,0.0,-0.0,0.0,1803.854634,-1235.626045,568.228588,-5031.173662
4,0.0,-0.0,0.0,1857.970273,-1260.338566,597.631706,-4539.500578
5,0.0,-0.0,0.0,1913.709381,-1285.545338,628.164043,-4047.317613
6,0.0,-0.0,0.0,1971.120662,-1311.256244,659.864418,-3554.916625
7,0.0,-0.0,0.0,2030.254282,-1337.481369,692.772913,-3062.575850
8,0.0,-0.0,0.0,2091.161911,-1364.230997,726.930914,-2570.560394
9,0.0,-0.0,0.0,2153.896768,-1391.515617,762.381151,-2079.122706
10,0.0,-0.0,0.0,2218.513671,-1419.345929,799.167742,-1588.503037
11,0.0,0.0,0.0,2285.069081,-1447.732848,837.336234,-1098.929884
12,0.0,0.0,0.0,2353.621154,-1476.687505,876.933649,-610.620415
13,0.0,0.0,0.0,2424.229788,-1506.221255,918.008534,-123.780889
14,0.0,0.0,0.0,2496.956682,-1536.345680,960.611002,361.392943

In [18]:
# The Base case and w/ Heat Pump monthly energy results.
df_mo_en_base

,hp_load_mmbtu,secondary_load_mmbtu,hp_kwh,secondary_fuel_mmbtu,secondary_kwh,hp_kw,secondary_fuel_units,cop,total_kwh,co2_lbs
Jan,0.0,9.246533,0.0,10.751783,73.972266,0.0,78.222091,NaN,73.972266,1852.618197
Feb,0.0,6.656062,0.0,7.739607,53.248499,0.0,56.307711,NaN,53.248499,1333.596279
Mar,0.0,5.660876,0.0,6.582414,45.287007,0.0,47.888818,NaN,45.287007,1134.202554
Apr,0.0,4.777631,0.0,5.555384,38.221045,0.0,40.416905,NaN,38.221045,957.237177
May,0.0,2.544315,0.0,2.958506,20.354520,0.0,21.523920,NaN,20.354520,509.774217
Jun,0.0,0.900646,0.0,1.047263,7.205171,0.0,7.619120,NaN,7.205171,180.451838
Jul,0.0,1.054949,0.0,1.226685,8.439596,0.0,8.924464,NaN,8.439596,211.367714
Aug,0.0,1.601511,0.0,1.862222,12.812088,0.0,13.548163,NaN,12.812088,320.875768
Sep,0.0,2.990686,0.0,3.477542,23.925492,0.0,25.300050,NaN,23.925492,599.208378
Oct,0.0,3.884551,0.0,4.516920,31.076407,0.0,32.861796,NaN,31.076407,778.301379
Nov,0.0,6.690553,0.0,7.779713,53.524424,0.0,56.599488,NaN,53.524424,1340.506751
Dec,0.0,7.185610,0.0,8.355360,57.484878,0.0,60.787476,NaN,57.484878,1439.695396

In [19]:
df_mo_en_hp

,hp_load_mmbtu,secondary_load_mmbtu,hp_kwh,secondary_fuel_mmbtu,secondary_kwh,hp_kw,secondary_fuel_units,cop,total_kwh,co2_lbs
Jan,0.874658,8.371876,115.697756,9.734739,66.975006,1.452669,70.822827,2.215665,182.672762,1862.489850
Feb,1.787997,4.868065,247.699473,5.660541,38.944520,1.460219,41.181945,2.115596,286.643993,1371.675597
Mar,3.338537,2.322338,466.965304,2.700393,18.578707,1.584495,19.646084,2.095379,485.544011,1212.443888
Apr,3.054519,1.723111,398.943210,2.003618,13.784890,1.592486,14.576854,2.244000,412.728100,983.548501
May,2.343938,0.200377,281.333023,0.232996,1.603012,1.506045,1.695108,2.441836,282.936036,490.279904
Jun,0.900646,0.000000,101.086195,0.000000,0.000000,0.605236,0.000000,2.611280,101.086195,161.737911
Jul,1.054949,0.000000,118.044910,0.000000,0.000000,0.614673,0.000000,2.619240,118.044910,188.871857
Aug,1.601511,0.000000,184.701452,0.000000,0.000000,1.068134,0.000000,2.541269,184.701452,295.522324
Sep,2.990686,0.000000,361.511326,0.000000,0.000000,1.181675,0.000000,2.424599,361.511326,578.418122
Oct,3.884551,0.000000,506.521874,0.000000,0.000000,1.552797,0.000000,2.247675,506.521874,810.434999
Nov,1.417672,5.272881,181.535439,6.131257,42.183046,1.475393,44.606530,2.288787,223.718485,1346.921286
Dec,1.874208,5.311402,280.771264,6.176049,42.491215,1.552797,44.932404,1.956393,323.262479,1513.416628

In [20]:
# The monthly dollar flows with and without the heat pump
# The PCE and no PCE case are included in this one table
df_mo_dol_base

,elec_kwh,elec_kw,elec_dol,secondary_fuel_units,secondary_fuel_dol,total_dol
Jan,550.000000,1.883562,146.655009,78.222091,625.776727,772.431736
Feb,440.347990,1.508041,106.632324,56.307711,450.461685,557.094009
Mar,415.475537,1.422861,100.891761,47.888818,383.110542,484.002304
Apr,351.475366,1.203683,86.120521,40.416905,323.335239,409.455760
May,300.000000,1.027397,74.240005,21.523920,172.191357,246.431362
Jun,220.678589,0.755749,55.932622,7.619120,60.952959,116.885581
Jul,230.771702,0.790314,58.262113,8.924464,71.395713,129.657826
Aug,251.138741,0.860064,62.962826,13.548163,108.385305,171.348130
Sep,293.401653,1.004800,72.717107,25.300050,202.400397,275.117503
Oct,361.708811,1.238729,88.482400,32.861796,262.894368,351.376768
Nov,449.802632,1.540420,108.814455,56.599488,452.795902,561.610357
Dec,504.510906,1.727777,122.768686,60.787476,486.299808,609.068493

In [21]:
df_mo_dol_hp

,elec_kwh,elec_kw,elec_dol,secondary_fuel_units,secondary_fuel_dol,total_dol
Jan,658.700496,3.336231,203.733641,70.822827,566.582614,770.316255
Feb,673.743483,2.968260,211.632713,41.181945,329.455557,541.088271
Mar,855.732542,3.007356,291.621914,19.646084,157.168669,448.790583
Apr,725.982421,2.796169,236.465138,14.576854,116.614832,353.079969
May,562.581516,2.533442,153.261563,1.695108,13.560862,166.822425
Jun,314.559613,1.360984,77.600364,0.000000,0.000000,77.600364
Jul,340.377017,1.404987,83.559022,0.000000,0.000000,83.559022
Aug,423.028105,1.928198,102.634894,0.000000,0.000000,102.634894
Sep,630.987487,2.186475,189.181539,0.000000,0.000000,189.181539
Oct,837.154279,2.791526,283.724294,0.000000,0.000000,283.724294
Nov,619.996692,3.015813,183.410273,44.606530,356.852238,540.262511
Dec,770.288507,3.280574,255.299655,44.932404,359.459229,614.758884

In [22]:
list(df_mo_en_base.columns.values)

['hp_load_mmbtu',
 'secondary_load_mmbtu',
 'hp_kwh',
 'secondary_fuel_mmbtu',
 'secondary_kwh',
 'hp_kw',
 'secondary_fuel_units',
 'cop',
 'total_kwh',
 'co2_lbs']

In [23]:
import plotly

plotly.tools.set_credentials_file(username='dustin_cchrc', api_key='yzYaFYf93PQ7D0VUZKGy')

import plotly.plotly as py
import plotly.graph_objs as go

## Monthly Heating Load

In [24]:
data = [go.Bar(x=df_mo_en_base.index,
           y=df_mo_en_base.secondary_load_mmbtu, 
             name='Monthly Heating Load')]

layout = go.Layout(title='Monthly Heating Load',
               xaxis=dict(title='Month'),
               yaxis=dict(title='Total Estimated Heat Load (MMBTU)', hoverformat='.1f')
                  )

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='estimated_heat_load', fileopt='overwrite')

## Heating Cost Comparison

In [25]:
# Combine the two datasets so that I can calculate the cost savings and increases to use in the graph.
df_mo_dol_base_and_hp = pd.merge(df_mo_dol_base, df_mo_dol_hp, how='outer',
                                left_index=True, right_index=True, suffixes=('', '_w_hp'))

df_mo_dol_base_and_hp['cost_savings'] = np.where(df_mo_dol_base_and_hp.total_dol_w_hp < df_mo_dol_base_and_hp.total_dol,
                                          df_mo_dol_base_and_hp.total_dol - df_mo_dol_base_and_hp.total_dol_w_hp,
                                          0)

df_mo_dol_base_and_hp['cost_increases'] = np.where(df_mo_dol_base_and_hp.total_dol_w_hp > df_mo_dol_base_and_hp.total_dol,
                                            df_mo_dol_base_and_hp.total_dol - df_mo_dol_base_and_hp.total_dol_w_hp,
                                            0)

df_mo_dol_base_and_hp

,elec_kwh,elec_kw,elec_dol,secondary_fuel_units,secondary_fuel_dol,total_dol,elec_kwh_w_hp,elec_kw_w_hp,elec_dol_w_hp,secondary_fuel_units_w_hp,secondary_fuel_dol_w_hp,total_dol_w_hp,cost_savings,cost_increases
Jan,550.000000,1.883562,146.655009,78.222091,625.776727,772.431736,658.700496,3.336231,203.733641,70.822827,566.582614,770.316255,2.115482,0.00000
Feb,440.347990,1.508041,106.632324,56.307711,450.461685,557.094009,673.743483,2.968260,211.632713,41.181945,329.455557,541.088271,16.005738,0.00000
Mar,415.475537,1.422861,100.891761,47.888818,383.110542,484.002304,855.732542,3.007356,291.621914,19.646084,157.168669,448.790583,35.211721,0.00000
Apr,351.475366,1.203683,86.120521,40.416905,323.335239,409.455760,725.982421,2.796169,236.465138,14.576854,116.614832,353.079969,56.375790,0.00000
May,300.000000,1.027397,74.240005,21.523920,172.191357,246.431362,562.581516,2.533442,153.261563,1.695108,13.560862,166.822425,79.608937,0.00000
Jun,220.678589,0.755749,55.932622,7.619120,60.952959,116.885581,314.559613,1.360984,77.600364,0.000000,0.000000,77.600364,39.285217,0.00000
Jul,230.771702,0.790314,58.262113,8.924464,71.395713,129.657826,340.377017,1.404987,83.559022,0.000000,0.000000,83.559022,46.098804,0.00000
Aug,251.138741,0.860064,62.962826,13.548163,108.385305,171.348130,423.028105,1.928198,102.634894,0.000000,0.000000,102.634894,68.713236,0.00000
Sep,293.401653,1.004800,72.717107,25.300050,202.400397,275.117503,630.987487,2.186475,189.181539,0.000000,0.000000,189.181539,85.935964,0.00000
Oct,361.708811,1.238729,88.482400,32.861796,262.894368,351.376768,837.154279,2.791526,283.724294,0.000000,0.000000,283.724294,67.652474,0.00000
Nov,449.802632,1.540420,108.814455,56.599488,452.795902,561.610357,619.996692,3.015813,183.410273,44.606530,356.852238,540.262511,21.347846,0.00000
Dec,504.510906,1.727777,122.768686,60.787476,486.299808,609.068493,770.288507,3.280574,255.299655,44.932404,359.459229,614.758884,0.000000,-5.69039

In [26]:
hp_cost = go.Bar(x=df_mo_dol_base_and_hp.index,
             y=df_mo_dol_base_and_hp.total_dol_w_hp,
             name='Heat Pump Heating Cost', 
             marker=dict(color='#377eb8'))

cost_savings = go.Bar(x=df_mo_dol_base_and_hp.index,
                y=df_mo_dol_base_and_hp.cost_savings,
                name='Cost Savings',
                marker=dict(color='#4daf4a'))

cost_increases = go.Bar(x=df_mo_dol_base_and_hp.index,
                y=df_mo_dol_base_and_hp.cost_increases,
                name='Cost Increases',
                marker=dict(color='#e41a1c'))

no_hp_costs = go.Scatter(x=df_mo_dol_base_and_hp.index,
                        y=df_mo_dol_base_and_hp.total_dol,
                        name='Baseline Heating Costs',
                         mode='markers',
                         marker=dict(color='#000000', size=12)
                        )

data = [hp_cost, cost_savings, cost_increases, no_hp_costs]

layout = go.Layout(title='Heating Costs: Heat Pump vs. Baseline',
               xaxis=dict(title='Month'),
               yaxis=dict(title='Total Heating Costs', hoverformat='dol,.2f'),
                  barmode='stack')

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='heatpump_costs', fileopt='overwrite')

## Monthly Heat Pump Efficiency

In [27]:
efficiency = [go.Scatter(x=df_mo_en_hp.index,
                         y=df_mo_en_hp.cop, 
                        name='COP',
                        mode='lines+markers')]

layout = go.Layout(title='Monthly Heat Pump Efficiency',
                xaxis=dict(title='Month'),
                yaxis=dict(title='COP'))

fig = go.Figure(data=efficiency, layout=layout)

py.iplot(fig, layout=layout, filename='cop', fileopt='overwrite')

## Energy Use Comparison

In [28]:
list(df_mo_en_base.columns.values)

['hp_load_mmbtu',
 'secondary_load_mmbtu',
 'hp_kwh',
 'secondary_fuel_mmbtu',
 'secondary_kwh',
 'hp_kw',
 'secondary_fuel_units',
 'cop',
 'total_kwh',
 'co2_lbs']

In [29]:
list(df_mo_dol_base.columns.values)

['elec_kwh',
 'elec_kw',
 'elec_dol',
 'secondary_fuel_units',
 'secondary_fuel_dol',
 'total_dol']

In [30]:
list(df_mo_dol_hp.columns.values)

['elec_kwh',
 'elec_kw',
 'elec_dol',
 'secondary_fuel_units',
 'secondary_fuel_dol',
 'total_dol']

In [31]:
from plotly import tools

elec_no_hp = go.Scatter(x=df_mo_dol_base.index,
                        y=df_mo_dol_base.elec_kwh,
                        name='Monthly kWh (no Heat Pump)',
                        line=dict(color='#92c5de',
                                 width=2,
                                 dash='dash')
                        )

elec_w_hp = go.Scatter(x=df_mo_dol_hp.index,
                      y=df_mo_dol_hp.elec_kwh,
                      name='Monthly kWh (with Heat Pump)',
                      mode='lines',
                      marker=dict(color='#0571b0')
                      )

fuel_no_hp = go.Scatter(x=df_mo_dol_base.index,
                       y=df_mo_dol_base.secondary_fuel_units,
                       name='Monthly Fuel Usage (no Heat Pump)',
                       line=dict(color='#f4a582',
                                width = 2,
                                dash = 'dash')
                       )

fuel_w_hp = go.Scatter(x=df_mo_dol_hp.index,
                      y=df_mo_dol_hp.secondary_fuel_units,
                      name='Monthly Fuel Usage (with Heat Pump)',
                      mode='lines',
                      marker=dict(color='#ca0020'))

fig = tools.make_subplots(rows=2, cols=1)

fig.append_trace(elec_no_hp, 1, 1)
fig.append_trace(elec_w_hp, 1, 1)
fig.append_trace(fuel_no_hp, 2, 1)
fig.append_trace(fuel_w_hp, 2, 1)

fig['layout'].update(title='Energy Usage: Heat Pump vs. Baseline')

fig['layout']['xaxis1'].update(title='Month')
fig['layout']['xaxis2'].update(title='Month')
fig['layout']['yaxis1'].update(title='Electricity Use (kWh)', hoverformat='.0f')
yaxis2_title = 'Heating Fuel Use (%s)' % (smy['fuel_unit'])
fig['layout']['yaxis2'].update(title=yaxis2_title, hoverformat='.1f')

py.iplot(fig, filename='heatpump_energy_usage', fileopt='overwrite')

This is the format of your plot grid:
[ (1,1) x1,y1 ]
[ (2,1) x2,y2 ]

## Cash Flow Visualization

In [32]:
df_cash_flow

,initial_cost,loan_cost,op_cost,fuel_cost,elec_cost,cash_flow,cum_disc_cash_flow
year,,,,,,,
0,-6500.0,0.0,0.0,0.000000,-0.000000,-6500.000000,-6500.000000
1,0.0,-0.0,0.0,1700.305998,-1187.645180,512.660818,-6011.751602
2,0.0,-0.0,0.0,1751.315178,-1211.398084,539.917095,-5522.030881
3,0.0,-0.0,0.0,1803.854634,-1235.626045,568.228588,-5031.173662
4,0.0,-0.0,0.0,1857.970273,-1260.338566,597.631706,-4539.500578
5,0.0,-0.0,0.0,1913.709381,-1285.545338,628.164043,-4047.317613
6,0.0,-0.0,0.0,1971.120662,-1311.256244,659.864418,-3554.916625
7,0.0,-0.0,0.0,2030.254282,-1337.481369,692.772913,-3062.575850
8,0.0,-0.0,0.0,2091.161911,-1364.230997,726.930914,-2570.560394
9,0.0,-0.0,0.0,2153.896768,-1391.515617,762.381151,-2079.122706
10,0.0,-0.0,0.0,2218.513671,-1419.345929,799.167742,-1588.503037
11,0.0,0.0,0.0,2285.069081,-1447.732848,837.336234,-1098.929884
12,0.0,0.0,0.0,2353.621154,-1476.687505,876.933649,-610.620415
13,0.0,0.0,0.0,2424.229788,-1506.221255,918.008534,-123.780889
14,0.0,0.0,0.0,2496.956682,-1536.345680,960.611002,361.392943

In [33]:
df_cash_flow['negative_flow'] = np.where(df_cash_flow.cash_flow < 0, df_cash_flow.cash_flow, 0)
df_cash_flow['positive_flow'] = np.where(df_cash_flow.cash_flow > 0, df_cash_flow.cash_flow, 0)

In [34]:
negative_flow = go.Bar(x=df_cash_flow.index,
                        y=df_cash_flow.negative_flow,
                        name='Cash Flow', 
                        marker=dict(color='#d7191c'))

positive_flow = go.Bar(x=df_cash_flow.index,
                        y=df_cash_flow.positive_flow,
                        name='Cash Flow', 
                        marker=dict(color='#000000'))

data = [negative_flow, positive_flow]

layout = go.Layout(title='Heat Pump Cash Flow',
               xaxis=dict(title='Year'),
               yaxis=dict(title='Annual Cash Flow ($)', hoverformat='dol,.0f')
                  )

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='cash_flow', fileopt='overwrite')

## Cumulative Discounted Cash Flow

In [35]:
df_cash_flow

,initial_cost,loan_cost,op_cost,fuel_cost,elec_cost,cash_flow,cum_disc_cash_flow,negative_flow,positive_flow
year,,,,,,,,,
0,-6500.0,0.0,0.0,0.000000,-0.000000,-6500.000000,-6500.000000,-6500.0,0.000000
1,0.0,-0.0,0.0,1700.305998,-1187.645180,512.660818,-6011.751602,0.0,512.660818
2,0.0,-0.0,0.0,1751.315178,-1211.398084,539.917095,-5522.030881,0.0,539.917095
3,0.0,-0.0,0.0,1803.854634,-1235.626045,568.228588,-5031.173662,0.0,568.228588
4,0.0,-0.0,0.0,1857.970273,-1260.338566,597.631706,-4539.500578,0.0,597.631706
5,0.0,-0.0,0.0,1913.709381,-1285.545338,628.164043,-4047.317613,0.0,628.164043
6,0.0,-0.0,0.0,1971.120662,-1311.256244,659.864418,-3554.916625,0.0,659.864418
7,0.0,-0.0,0.0,2030.254282,-1337.481369,692.772913,-3062.575850,0.0,692.772913
8,0.0,-0.0,0.0,2091.161911,-1364.230997,726.930914,-2570.560394,0.0,726.930914
9,0.0,-0.0,0.0,2153.896768,-1391.515617,762.381151,-2079.122706,0.0,762.381151
10,0.0,-0.0,0.0,2218.513671,-1419.345929,799.167742,-1588.503037,0.0,799.167742
11,0.0,0.0,0.0,2285.069081,-1447.732848,837.336234,-1098.929884,0.0,837.336234
12,0.0,0.0,0.0,2353.621154,-1476.687505,876.933649,-610.620415,0.0,876.933649
13,0.0,0.0,0.0,2424.229788,-1506.221255,918.008534,-123.780889,0.0,918.008534
14,0.0,0.0,0.0,2496.956682,-1536.345680,960.611002,361.392943,0.0,960.611002

In [36]:
df_cash_flow['cum_negative_flow'] = np.where(df_cash_flow.cum_disc_cash_flow < 0, df_cash_flow.cum_disc_cash_flow, 0)
df_cash_flow['cum_positive_flow'] = np.where(df_cash_flow.cum_disc_cash_flow > 0, df_cash_flow.cum_disc_cash_flow, 0)

In [37]:
negative_cash_flow = go.Scatter(x=df_cash_flow.index,
                            y=df_cash_flow.cum_negative_flow,
                            name='Cash Flow ($)',
                            fill='tozeroy',
                            fillcolor='#d7191c',
                            line=dict(color='#ffffff')
                           )

positive_cash_flow = go.Scatter(x=df_cash_flow.index,
                            y=df_cash_flow.cum_positive_flow,
                            name='Cash Flow ($)',
                            fill='tozeroy',
                            fillcolor='#000000',
                            line=dict(color='#ffffff')
                           )

data = [negative_cash_flow, positive_cash_flow]

layout = go.Layout(title='Heat Pump Lifetime Cumulative Discounted Cash Flow',
                   xaxis=dict(title='Year'),
                   yaxis=dict(title='Annual Discounted Cash Flow ($)', hoverformat='.0f'),
                  )

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='cumulative_discounted_heatpump_cash_flow', fileopt='overwrite')

## Markdown Display of Results

In [30]:
## Need to account for NaN internal rate of return (hide somehow)

### With PCE

In [31]:
md_results = '''# Results

## Heat Pump Cost Effectiveness

### Net Present Value:  **\${:,.0f}**
The Net Present Value of installing an air-source heat pump is estimated to be **\${:,.0f}**. 
This means that over the course of the life of the equipment you will {} **\${:,.0f}** in today's dollars.

### Internal Rate of Return:  **{:.1f}%**
The internal rate of return on the investment is estimated to be **{:.1f}%**. Compare this tax-free investment to your other investment options.

### Cash Flow
This is how your cash flow will be affected by installing a heat pump:


## Greenhouse Gas Emissions

Installing a heat pump is predicted to save {:,.0f} pounds of CO2 emissions annually, or {:,.0f} pounds over the life of the equipment.
This is equivalent to a reduction of {:,.0f} miles driven by an average passenger vehicle annually, or {:,.0f} over the equipment's life.  
'''

In [32]:
def npv_indicator(summary, pce_indicator):
    if pce_indicator == 1:
        if summary['npv'] > 0:
            return 'earn'
        else:
            return 'lose'
    else: 
        if summary['npv_no_pce'] > 0:
            return 'earn'
        else:
            return 'lose'

In [33]:
smy

{'co2_driving_miles_saved': 987.1566051726571,
 'co2_lbs_saved': 880.4143742987326,
 'cop': 2.836600461342373,
 'design_heat_load': 21478.25351576897,
 'design_heat_temp': -49.900000000000006,
 'elec_rate_avg_base': 0.23200883941833067,
 'elec_rate_avg_hp': 0.28991140424534884,
 'elec_use_base': 5261.587156420448,
 'elec_use_chg': 2394.8579858264475,
 'elec_use_hp': 7656.445142246896,
 'fuel_desc': '#1 Oil',
 'fuel_unit': 'gallons',
 'fuel_use_base': 449.99999999999994,
 'fuel_use_chg': -212.53824980065627,
 'fuel_use_hp': 237.46175019934367,
 'hp_max_capacity_5F': 15046.92,
 'irr': 0.09915273879411424,
 'max_hp_reached': False,
 'npv': 2459.449974522957}

In [34]:
smy['npv']

2459.449974522957

In [35]:
md = md_results.format(smy['npv'],
                       smy['npv'],
                      npv_indicator(smy, 1),
                      abs(smy['npv']),
                      smy['irr']*100,
                       smy['irr']*100,
                      smy['co2_lbs_saved'],
                      smy['co2_lbs_saved'] * 12,
                      smy['co2_driving_miles_saved'],
                      smy['co2_driving_miles_saved'] * 12)
Markdown(md)

# Results

## Heat Pump Cost Effectiveness

### Net Present Value:  **\$2,459**
The Net Present Value of installing an air-source heat pump is estimated to be **\$2,459**.
This means that over the course of the life of the equipment you will earn **\$2,459** in today's dollars.

### Internal Rate of Return:  **9.9%**
The internal rate of return on the investment is estimated to be **9.9%**. Compare this tax-free investment to your other investment options.

### Cash Flow
This is how your cash flow will be affected by installing a heat pump:


## Greenhouse Gas Emissions

Installing a heat pump is predicted to save 880 pounds of CO2 emissions annually, or 10,565 pounds over the life of the equipment.
This is equivalent to a reduction of 987 miles driven by an average passenger vehicle annually, or 11,846 over the equipment's life.

In [36]:
from textwrap import dedent
inputs = {'hp_life': 14}

In [37]:
sumd = smy.copy()
sumd['npv_abs'] =  abs(sumd['npv'])
sumd['irr'] *= 100.   # convert to %
sumd['npv_indicator'] = 'earn' if sumd['npv'] >= 0 else 'lose'
sumd['co2_lbs_saved_life'] = sumd['co2_lbs_saved'] * inputs['hp_life']
sumd['co2_driving_miles_saved_life'] = sumd['co2_driving_miles_saved'] * inputs['hp_life']

md_tmpl = dedent('''
# Results

## Heat Pump Cost Effectiveness

### Net Present Value:  **\${npv:,.0f}**

The Net Present Value of installing an air-source heat pump is estimated to 
be **\${npv:,.0f}**. This means that over the course of the life of the equipment you 
will {npv_indicator} **\${npv_abs:,.0f}** in today's dollars.

### Internal Rate of Return:  **{irr:.1f}%**

The internal rate of return on the investment is estimated to be **{irr:.1f}%**. 
Compare this tax-free investment to your other investment options.

### Cash Flow

This is how your cash flow will be affected by installing a heat pump:

## Greenhouse Gas Emissions

Installing a heat pump is predicted to save {co2_lbs_saved:,.0f} pounds of CO2 emissions annually, 
or {co2_lbs_saved_life:,.0f} pounds over the life of the equipment. This is equivalent to a reduction 
of {co2_driving_miles_saved:,.0f} miles driven by an average passenger vehicle annually, 
or {co2_driving_miles_saved_life:,.0f} miles over the equipment's life.  
''')

md = md_tmpl.format(**sumd)
Markdown(md)

# Results

## Heat Pump Cost Effectiveness

### Net Present Value:  **\$2,459**

The Net Present Value of installing an air-source heat pump is estimated to
be **\$2,459**. This means that over the course of the life of the equipment you
will earn **\$2,459** in today's dollars.

### Internal Rate of Return:  **9.9%**

The internal rate of return on the investment is estimated to be **9.9%**.
Compare this tax-free investment to your other investment options.

### Cash Flow

This is how your cash flow will be affected by installing a heat pump:

## Greenhouse Gas Emissions

Installing a heat pump is predicted to save 880 pounds of CO2 emissions annually,
or 12,326 pounds over the life of the equipment. This is equivalent to a reduction
of 987 miles driven by an average passenger vehicle annually,
or 13,820 miles over the equipment's life.

In [38]:
sumd

{'co2_driving_miles_saved': 987.1566051726571,
 'co2_driving_miles_saved_life': 13820.1924724172,
 'co2_lbs_saved': 880.4143742987326,
 'co2_lbs_saved_life': 12325.801240182256,
 'cop': 2.836600461342373,
 'design_heat_load': 21478.25351576897,
 'design_heat_temp': -49.900000000000006,
 'elec_rate_avg_base': 0.23200883941833067,
 'elec_rate_avg_hp': 0.28991140424534884,
 'elec_use_base': 5261.587156420448,
 'elec_use_chg': 2394.8579858264475,
 'elec_use_hp': 7656.445142246896,
 'fuel_desc': '#1 Oil',
 'fuel_unit': 'gallons',
 'fuel_use_base': 449.99999999999994,
 'fuel_use_chg': -212.53824980065627,
 'fuel_use_hp': 237.46175019934367,
 'hp_max_capacity_5F': 15046.92,
 'irr': 9.915273879411423,
 'max_hp_reached': False,
 'npv': 2459.449974522957,
 'npv_abs': 2459.449974522957,
 'npv_indicator': 'earn'}

### Without PCE

In [39]:
no_pce_economic_md_results = '''# Results

## Heat Pump Cost Effectiveness without Power Cost Equalization (PCE)

### Net Present Value:  **\${:,.0f}**

The Net Present Value of installing an air-source heat pump is estimated to be **\${:,.0f}** if the PCE subsidy is not included. This means that over the course of the life of the equipment 
you **will {} \${:,.0f}** in today's dollars.

### Internal Rate of Return:  **{:.1f}%**

The internal rate of return on the investment is estimated to be **{:.1f}%** if the PCE subsidy is not included. Compare this tax-free investment to your other investment options.

### Cash Flow

This is how your cash flow will be affected by installing a heat pump if the PCE subsidy is not included:
'''

In [40]:
no_pce_md = no_pce_economic_md_results.format(smy['npv_no_pce'],
                                              smy['npv_no_pce'],
                                              npv_indicator(smy, 0),
                                              abs(smy['npv_no_pce']),
                                              smy['irr_no_pce']*100,
                                              smy['irr_no_pce']*100,
                                              smy['co2_lbs_saved'],
                                              smy['co2_lbs_saved'] * 12,
                                              smy['co2_driving_miles_saved'],
                                              smy['co2_driving_miles_saved'] * 12
                                             )
no_pce_md

KeyError: 'npv_no_pce'

In [ ]:
Markdown(no_pce_md)