# Notebook to be used to Develop Display of Results

In [2]:
from importlib import reload
import pandas as pd
import numpy as np
from IPython.display import Markdown

In [3]:
# If one of the modules changes and you need to reimport it,
# execute this cell again.
import heatpump.hp_model
reload(heatpump.hp_model)
import heatpump.home_heat_model
reload(heatpump.home_heat_model)
import heatpump.library as lib
reload(lib)

In [4]:
# Anchorage large home inputs
util = lib.util_from_id(1)
inputs1 = dict(
    city_id=1,
    utility=util,
    co2_lbs_per_kwh=1.1,
    exist_heat_fuel_id=2,
    exist_unit_fuel_cost=0.97852,
    exist_fuel_use=1600,
    exist_heat_effic=.8,
    exist_kwh_per_mmbtu=8,
    exist_is_point_source=False,
    includes_dhw=True,
    includes_dryer=True,
    includes_cooking=False,
    occupant_count=3,
    elec_use_jan=550,
    elec_use_may=400,
    hp_model_id=575,
    indoor_high_mount=False,
    low_temp_cutoff=5,
    garage_stall_count=2,
    garage_heated_by_hp=False,
    bldg_floor_area=3600,
    indoor_heat_setpoint=70,
    insul_level=3,  
    pct_exposed_to_hp=0.46,
    doors_open_to_adjacent=False,
    bedroom_temp_tolerance=2,
    capital_cost=4500,
    rebate_dol=500,
    pct_financed=0.5,
    loan_term=10,
    loan_interest=0.05,
    hp_life=14,
    op_cost_chg=10,
    sales_tax=0.02,
    discount_rate=0.05,
    inflation_rate=0.02,
    fuel_esc_rate=0.03,
    elec_esc_rate=0.02,
)

In [5]:
# Ambler Home inputs
util = lib.util_from_id(202)
inputs2 = dict(
    city_id=45,
    utility=util,
    co2_lbs_per_kwh=1.6,
    exist_heat_fuel_id=4,
    exist_unit_fuel_cost=8.0,
    exist_fuel_use=450,
    exist_heat_effic=.86,
    exist_kwh_per_mmbtu=8,
    exist_is_point_source=True,
    includes_dhw=False,
    includes_dryer=False,
    includes_cooking=False,
    occupant_count=3,
    elec_use_jan=550,
    elec_use_may=400,
    hp_model_id=575,
    indoor_high_mount=False,
    low_temp_cutoff=5,
    garage_stall_count=0,
    garage_heated_by_hp=False,
    bldg_floor_area=800,
    indoor_heat_setpoint=70,
    insul_level=2,  
    pct_exposed_to_hp=1.0,
    doors_open_to_adjacent=False,
    bedroom_temp_tolerance=3,
    capital_cost=6500,
    rebate_dol=0,
    pct_financed=0.0,
    loan_term=10,
    loan_interest=0.05,
    hp_life=14,
    op_cost_chg=0,
    sales_tax=0.00,
    discount_rate=0.05,
    inflation_rate=0.02,
    fuel_esc_rate=0.03,
    elec_esc_rate=0.02,
)

In [6]:
# Change from **inputs1 to **inputs2 to run the two cases.
mod = heatpump.hp_model.HP_model(**inputs2)
mod.run()

# Pull out the results from the model object.
# Use these variable names in your display of outputs.
smy = mod.summary
df_cash_flow = mod.df_cash_flow
df_mo_en_base = mod.df_mo_en_base
df_mo_en_hp = mod.df_mo_en_hp
df_mo_dol_base = mod.df_mo_dol_base
df_mo_dol_hp = mod.df_mo_dol_hp

In [7]:
# This is a dictionary containing summary output.
# The 'fuel_use_xxx' values are annual totals in physical units
# like gallons.  'elec_use_xxx' are kWh.  'hp_max_capacity' is the
# maximum output of the heat pump at 5 deg F.  'max_hp_reached' 
# indicates whether the heat pump ever used all of its capacity
# at some point during the year.
smy

{'fuel_unit': 'gallons',
 'fuel_desc': '#1 Oil',
 'design_heat_load': 21478.25351576897,
 'design_heat_temp': -49.900000000000006,
 'cop': 2.836600461342373,
 'hp_max_capacity_5F': 15046.92,
 'max_hp_reached': False,
 'co2_lbs_saved': 880.4143742987326,
 'co2_driving_miles_saved': 987.1566051726571,
 'irr': 0.09915273879411424,
 'irr_no_pce': 0.05443037924944405,
 'npv': 2459.449974522957,
 'npv_no_pce': 207.62689740143685,
 'fuel_use_base': 449.99999999999994,
 'fuel_use_hp': 237.46175019934367,
 'fuel_use_chg': -212.53824980065627,
 'elec_use_base': 5261.587156420448,
 'elec_use_hp': 7656.445142246896,
 'elec_use_chg': 2394.8579858264475,
 'elec_rate_avg_base': 0.23200883941833067,
 'elec_rate_avg_hp': 0.28991140424534884}

In [8]:
md = f"Design Heat Load: **{smy['design_heat_load']:,.0f} Btu/hour** at {smy['design_heat_temp']:.0f} degrees F outdoors"
md

'Design Heat Load: **21,478 Btu/hour** at -50 degrees F outdoors'

In [9]:
# You can get a string that is in Markdown format rendered properly
# by using the Markdown class.
Markdown(md)

Design Heat Load: **21,478 Btu/hour** at -50 degrees F outdoors

In [10]:
# Or, this might be a case where f-strings are not the cleanest.
# Here is another way:
md = 'Design Heat Load of Entire Building: **{design_heat_load:,.0f} Btu/hour** at {design_heat_temp:.0f} degrees F outdoors  \n(required output of heating system, no safety margin)'.format(**smy)
Markdown(md)

Design Heat Load of Entire Building: **21,478 Btu/hour** at -50 degrees F outdoors
(required output of heating system, no safety margin)

In [11]:
# Cash Flow over the life of the heat pump.
# Negative values are costs and positive values are benefits.
# When displaying this table delete the two columns that don't apply,
# depending on whether you are showing the PCE or no PCE case.
df_cash_flow

,initial_cost,loan_cost,operating_cost,fuel_cost,elec_cost,elec_cost_no_pce,cash_flow,cum_disc_cash_flow,cash_flow_no_pce,cum_disc_cash_flow_no_pce
year,,,,,,,,,,
0,-6500.0,0.0,0.0,0.000000,-0.000000,-0.000000,-6500.000000,-6500.000000,-6500.000000,-6500.000000
1,0.0,-0.0,0.0,1700.305998,-998.956033,-1201.474158,701.349965,-5832.047652,498.831840,-6024.922057
2,0.0,-0.0,0.0,1751.315178,-1018.935154,-1225.503641,732.380025,-5167.757380,525.811537,-5547.995492
3,0.0,-0.0,0.0,1803.854634,-1039.313857,-1250.013714,764.540777,-4507.318312,553.840920,-5069.566882
4,0.0,-0.0,0.0,1857.970273,-1060.100134,-1275.013988,797.870139,-3850.908574,582.956285,-4589.967304
5,0.0,-0.0,0.0,1913.709381,-1081.302137,-1300.514268,832.407244,-3198.695717,613.195113,-4109.512888
6,0.0,-0.0,0.0,1971.120662,-1102.928179,-1326.524553,868.192483,-2550.837119,644.596109,-3628.505347
7,0.0,-0.0,0.0,2030.254282,-1124.986743,-1353.055044,905.267539,-1907.480380,677.199238,-3147.232492
8,0.0,-0.0,0.0,2091.161911,-1147.486478,-1380.116145,943.675433,-1268.763702,711.045765,-2665.968730
9,0.0,-0.0,0.0,2153.896768,-1170.436207,-1407.718468,983.460561,-634.816256,746.178300,-2184.975545
10,0.0,-0.0,0.0,2218.513671,-1193.844931,-1435.872838,1024.668740,-5.758536,782.640833,-1704.501964
11,0.0,0.0,0.0,2285.069081,-1217.721830,-1464.590294,1067.347251,618.297296,820.478787,-1224.785010
12,0.0,0.0,0.0,2353.621154,-1242.076267,-1493.882100,1111.544887,1237.247081,859.739053,-746.050135
13,0.0,0.0,0.0,2424.229788,-1266.917792,-1523.759742,1157.311996,1850.994342,900.470046,-268.511644
14,0.0,0.0,0.0,2496.956682,-1292.256148,-1554.234937,1204.700534,2459.449975,942.721745,207.626897

In [12]:
# The Base case and w/ Heat Pump monthly energy results.
df_mo_en_base

,hp_load_mmbtu,secondary_load_mmbtu,hp_kwh,secondary_fuel_mmbtu,secondary_kwh,hp_kw,secondary_fuel_units,cop,total_kwh,co2_lbs
Jan,0.0,9.246533,0.0,10.751783,73.972266,0.0,78.222091,NaN,73.972266,1852.618197
Feb,0.0,6.656062,0.0,7.739607,53.248499,0.0,56.307711,NaN,53.248499,1333.596279
Mar,0.0,5.660876,0.0,6.582414,45.287007,0.0,47.888818,NaN,45.287007,1134.202554
Apr,0.0,4.777631,0.0,5.555384,38.221045,0.0,40.416905,NaN,38.221045,957.237177
May,0.0,2.544315,0.0,2.958506,20.354520,0.0,21.523920,NaN,20.354520,509.774217
Jun,0.0,0.900646,0.0,1.047263,7.205171,0.0,7.619120,NaN,7.205171,180.451838
Jul,0.0,1.054949,0.0,1.226685,8.439596,0.0,8.924464,NaN,8.439596,211.367714
Aug,0.0,1.601511,0.0,1.862222,12.812088,0.0,13.548163,NaN,12.812088,320.875768
Sep,0.0,2.990686,0.0,3.477542,23.925492,0.0,25.300050,NaN,23.925492,599.208378
Oct,0.0,3.884551,0.0,4.516920,31.076407,0.0,32.861796,NaN,31.076407,778.301379
Nov,0.0,6.690553,0.0,7.779713,53.524424,0.0,56.599488,NaN,53.524424,1340.506751
Dec,0.0,7.185610,0.0,8.355360,57.484878,0.0,60.787476,NaN,57.484878,1439.695396

In [13]:
df_mo_en_hp

,hp_load_mmbtu,secondary_load_mmbtu,hp_kwh,secondary_fuel_mmbtu,secondary_kwh,hp_kw,secondary_fuel_units,cop,total_kwh,co2_lbs
Jan,0.874658,8.371876,92.558205,9.734739,66.975006,1.162136,70.822827,2.769581,159.533211,1825.466568
Feb,1.787997,4.868065,198.159578,5.660541,38.944520,1.168175,41.181945,2.644495,237.104098,1292.411766
Mar,3.338537,2.322338,373.572243,2.700393,18.578707,1.267596,19.646084,2.619224,392.150951,1063.014991
Apr,3.054519,1.723111,319.154568,2.003618,13.784890,1.273989,14.576854,2.805000,332.939458,855.886674
May,2.343938,0.200377,225.066419,0.232996,1.603012,1.204836,1.695108,3.052295,226.669431,400.253337
Jun,0.900646,0.000000,80.868956,0.000000,0.000000,0.484188,0.000000,3.264100,80.868956,129.390329
Jul,1.054949,0.000000,94.435928,0.000000,0.000000,0.491738,0.000000,3.274051,94.435928,151.097485
Aug,1.601511,0.000000,147.761162,0.000000,0.000000,0.854507,0.000000,3.176586,147.761162,236.417859
Sep,2.990686,0.000000,289.209061,0.000000,0.000000,0.945340,0.000000,3.030749,289.209061,462.734497
Oct,3.884551,0.000000,405.217499,0.000000,0.000000,1.242238,0.000000,2.809594,405.217499,648.347999
Nov,1.417672,5.272881,145.228351,6.131257,42.183046,1.180314,44.606530,2.860984,187.411397,1288.829945
Dec,1.874208,5.311402,224.617011,6.176049,42.491215,1.242238,44.932404,2.445491,267.108226,1423.569824

In [14]:
# The monthly dollar flows with and without the heat pump
# The PCE and no PCE case are included in this one table
df_mo_dol_base

,elec_kwh,elec_kw,elec_dol,elec_dol_no_pce,secondary_fuel_units,secondary_fuel_dol,total_dol,total_dol_no_pce
Jan,550.000000,1.883562,138.930000,287.480004,78.222091,625.776727,764.706727,913.256731
Feb,484.208794,1.658249,109.831203,253.689640,56.307711,450.461685,560.292888,704.151325
Mar,469.285322,1.607142,106.600272,246.024945,47.888818,383.110542,489.710814,629.135487
Apr,430.885219,1.475634,98.286650,226.302652,40.416905,323.335239,421.621889,549.637891
May,400.000000,1.369863,91.600000,210.440003,21.523920,172.191357,263.791357,382.631360
Jun,352.407154,1.206874,81.296148,185.996316,7.619120,60.952959,142.249107,246.949275
Jul,358.463021,1.227613,82.607244,189.106610,8.924464,71.395713,154.002956,260.502323
Aug,370.683244,1.269463,85.252922,195.382917,13.548163,108.385305,193.638227,303.768221
Sep,396.040992,1.356305,90.742874,208.406656,25.300050,202.400397,293.143271,410.807053
Oct,437.025287,1.496662,99.615974,229.456190,32.861796,262.894368,362.510342,492.350558
Nov,489.881579,1.677677,111.059361,256.603182,56.599488,452.795902,563.855263,709.399084
Dec,522.706544,1.790091,124.912081,273.462084,60.787476,486.299808,611.211888,759.761892

In [15]:
df_mo_dol_hp

,elec_kwh,elec_kw,elec_dol,elec_dol_no_pce,secondary_fuel_units,secondary_fuel_dol,total_dol,total_dol_no_pce
Jan,635.560945,3.045697,182.874102,331.424105,70.822827,566.582614,749.456716,898.006720
Feb,668.064393,2.826424,199.567873,348.117877,41.181945,329.455557,529.023430,677.573434
Mar,816.149266,2.874737,264.009337,412.559341,19.646084,157.168669,421.178006,569.728010
Apr,725.603633,2.749623,226.559663,375.109667,14.576854,116.614832,343.174495,491.724499
May,606.314911,2.574699,167.853339,316.403342,1.695108,13.560862,181.414201,329.964205
Jun,426.070938,1.691062,97.244358,223.830037,0.000000,0.000000,97.244358,223.830037
Jul,444.459354,1.719351,101.225450,233.274327,0.000000,0.000000,101.225450,233.274327
Aug,505.632318,2.123970,116.142758,264.692762,0.000000,0.000000,116.142758,264.692762
Sep,661.324561,2.301645,196.106295,344.656299,0.000000,0.000000,196.106295,344.656299
Oct,811.166379,2.738900,261.948415,410.498419,0.000000,0.000000,261.948415,410.498419
Nov,623.768552,2.857991,176.817529,325.367533,44.606530,356.852238,533.669767,682.219771
Dec,732.329892,3.032329,229.341644,377.891648,44.932404,359.459229,588.800873,737.350877

In [16]:
list(df_mo_en_base.columns.values)

['hp_load_mmbtu',
 'secondary_load_mmbtu',
 'hp_kwh',
 'secondary_fuel_mmbtu',
 'secondary_kwh',
 'hp_kw',
 'secondary_fuel_units',
 'cop',
 'total_kwh',
 'co2_lbs']

In [17]:
import plotly

plotly.tools.set_credentials_file(username='dustin_cchrc', api_key='yzYaFYf93PQ7D0VUZKGy')

import plotly.plotly as py
import plotly.graph_objs as go

## Monthly Heating Load

In [18]:
data = [go.Bar(x=df_mo_en_base.index,
           y=df_mo_en_base.secondary_load_mmbtu, 
             name='Monthly Heating Load')]

layout = go.Layout(title='Monthly Heating Load',
               xaxis=dict(title='Month'),
               yaxis=dict(title='Total Estimated Heat Load (MMBTU)', hoverformat='.1f')
                  )

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='estimated_heat_load', fileopt='overwrite')

## Heating Cost Comparison

In [19]:
# Combine the two datasets so that I can calculate the cost savings and increases to use in the graph.
df_mo_dol_base_and_hp = pd.merge(df_mo_dol_base, df_mo_dol_hp, how='outer',
                                left_index=True, right_index=True, suffixes=('', '_w_hp'))

df_mo_dol_base_and_hp['cost_savings'] = np.where(df_mo_dol_base_and_hp.total_dol_w_hp < df_mo_dol_base_and_hp.total_dol,
                                          df_mo_dol_base_and_hp.total_dol - df_mo_dol_base_and_hp.total_dol_w_hp,
                                          0)

df_mo_dol_base_and_hp['cost_increases'] = np.where(df_mo_dol_base_and_hp.total_dol_w_hp > df_mo_dol_base_and_hp.total_dol,
                                            df_mo_dol_base_and_hp.total_dol - df_mo_dol_base_and_hp.total_dol_w_hp,
                                            0)

df_mo_dol_base_and_hp

,elec_kwh,elec_kw,elec_dol,elec_dol_no_pce,secondary_fuel_units,secondary_fuel_dol,total_dol,total_dol_no_pce,elec_kwh_w_hp,elec_kw_w_hp,elec_dol_w_hp,elec_dol_no_pce_w_hp,secondary_fuel_units_w_hp,secondary_fuel_dol_w_hp,total_dol_w_hp,total_dol_no_pce_w_hp,cost_savings,cost_increases
Jan,550.000000,1.883562,138.930000,287.480004,78.222091,625.776727,764.706727,913.256731,635.560945,3.045697,182.874102,331.424105,70.822827,566.582614,749.456716,898.006720,15.250011,0.0
Feb,484.208794,1.658249,109.831203,253.689640,56.307711,450.461685,560.292888,704.151325,668.064393,2.826424,199.567873,348.117877,41.181945,329.455557,529.023430,677.573434,31.269458,0.0
Mar,469.285322,1.607142,106.600272,246.024945,47.888818,383.110542,489.710814,629.135487,816.149266,2.874737,264.009337,412.559341,19.646084,157.168669,421.178006,569.728010,68.532808,0.0
Apr,430.885219,1.475634,98.286650,226.302652,40.416905,323.335239,421.621889,549.637891,725.603633,2.749623,226.559663,375.109667,14.576854,116.614832,343.174495,491.724499,78.447394,0.0
May,400.000000,1.369863,91.600000,210.440003,21.523920,172.191357,263.791357,382.631360,606.314911,2.574699,167.853339,316.403342,1.695108,13.560862,181.414201,329.964205,82.377156,0.0
Jun,352.407154,1.206874,81.296148,185.996316,7.619120,60.952959,142.249107,246.949275,426.070938,1.691062,97.244358,223.830037,0.000000,0.000000,97.244358,223.830037,45.004749,0.0
Jul,358.463021,1.227613,82.607244,189.106610,8.924464,71.395713,154.002956,260.502323,444.459354,1.719351,101.225450,233.274327,0.000000,0.000000,101.225450,233.274327,52.777507,0.0
Aug,370.683244,1.269463,85.252922,195.382917,13.548163,108.385305,193.638227,303.768221,505.632318,2.123970,116.142758,264.692762,0.000000,0.000000,116.142758,264.692762,77.495469,0.0
Sep,396.040992,1.356305,90.742874,208.406656,25.300050,202.400397,293.143271,410.807053,661.324561,2.301645,196.106295,344.656299,0.000000,0.000000,196.106295,344.656299,97.036976,0.0
Oct,437.025287,1.496662,99.615974,229.456190,32.861796,262.894368,362.510342,492.350558,811.166379,2.738900,261.948415,410.498419,0.000000,0.000000,261.948415,410.498419,100.561927,0.0
Nov,489.881579,1.677677,111.059361,256.603182,56.599488,452.795902,563.855263,709.399084,623.768552,2.857991,176.817529,325.367533,44.606530,356.852238,533.669767,682.219771,30.185497,0.0
Dec,522.706544,1.790091,124.912081,273.462084,60.787476,486.299808,611.211888,759.761892,732.329892,3.032329,229.341644,377.891648,44.932404,359.459229,588.800873,737.350877,22.411015,0.0

In [20]:
hp_cost = go.Bar(x=df_mo_dol_base_and_hp.index,
             y=df_mo_dol_base_and_hp.total_dol_w_hp,
             name='Heat Pump Heating Cost', 
             marker=dict(color='#377eb8'))

cost_savings = go.Bar(x=df_mo_dol_base_and_hp.index,
                y=df_mo_dol_base_and_hp.cost_savings,
                name='Cost Savings',
                marker=dict(color='#4daf4a'))

cost_increases = go.Bar(x=df_mo_dol_base_and_hp.index,
                y=df_mo_dol_base_and_hp.cost_increases,
                name='Cost Increases',
                marker=dict(color='#e41a1c'))

no_hp_costs = go.Scatter(x=df_mo_dol_base_and_hp.index,
                        y=df_mo_dol_base_and_hp.total_dol,
                        name='Baseline Heating Costs',
                         mode='markers',
                         marker=dict(color='#000000', size=12)
                        )

data = [hp_cost, cost_savings, cost_increases, no_hp_costs]

layout = go.Layout(title='Heating Costs: Heat Pump vs. Baseline',
               xaxis=dict(title='Month'),
               yaxis=dict(title='Total Heating Costs', hoverformat='dol,.2f'),
                  barmode='stack')

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='heatpump_costs', fileopt='overwrite')

## Monthly Heat Pump Efficiency

In [21]:
efficiency = [go.Scatter(x=df_mo_en_hp.index,
                         y=df_mo_en_hp.cop, 
                        name='COP',
                        mode='lines+markers')]

layout = go.Layout(title='Monthly Heat Pump Efficiency',
                xaxis=dict(title='Month'),
                yaxis=dict(title='COP'))

fig = go.Figure(data=efficiency, layout=layout)

py.iplot(fig, layout=layout, filename='cop', fileopt='overwrite')

## Energy Use Comparison

In [22]:
list(df_mo_en_base.columns.values)

['hp_load_mmbtu',
 'secondary_load_mmbtu',
 'hp_kwh',
 'secondary_fuel_mmbtu',
 'secondary_kwh',
 'hp_kw',
 'secondary_fuel_units',
 'cop',
 'total_kwh',
 'co2_lbs']

In [23]:
# Need to account for the case where the heat pump is replacing 
# electric resistance heat

# Also should change the y-axis title to the actual type of heating 
# fuel that is being used with the proper units

In [24]:
from plotly import tools

elec_no_hp = go.Scatter(x=df_mo_en_base.index,
                        y=df_mo_en_base.total_kwh,
                        name='Monthly kWh (no Heat Pump)',
                        line=dict(color='#92c5de',
                                 width=2,
                                 dash='dash')
                        )

elec_w_hp = go.Scatter(x=df_mo_en_hp.index,
                      y=df_mo_en_hp.total_kwh,
                      name='Monthly kWh (with Heat Pump)',
                      mode='lines',
                      marker=dict(color='#0571b0')
                      )

fuel_no_hp = go.Scatter(x=df_mo_en_base.index,
                       y=df_mo_en_base.secondary_fuel_units,
                       name='Monthly Fuel Usage (no Heat Pump)',
                       line=dict(color='#f4a582',
                                width = 2,
                                dash = 'dash')
                       )

fuel_w_hp = go.Scatter(x=df_mo_en_hp.index,
                      y=df_mo_en_hp.secondary_fuel_units,
                      name='Monthly Fuel Usage (with Heat Pump)',
                      mode='lines',
                      marker=dict(color='#ca0020'))

fig = tools.make_subplots(rows=2, cols=1)

fig.append_trace(elec_no_hp, 1, 1)
fig.append_trace(elec_w_hp, 1, 1)
fig.append_trace(fuel_no_hp, 2, 1)
fig.append_trace(fuel_w_hp, 2, 1)

fig['layout'].update(title='Energy Usage: Heat Pump vs. Baseline')

fig['layout']['xaxis1'].update(title='Month')
fig['layout']['xaxis2'].update(title='Month')
fig['layout']['yaxis1'].update(title='Electricity Use (kWh)', hoverformat='.0f')
fig['layout']['yaxis2'].update(title='Heating Fuel Use', hoverformat='.1f')

py.iplot(fig, filename='heatpump_energy_usage', fileopt='overwrite')

This is the format of your plot grid:
[ (1,1) x1,y1 ]
[ (2,1) x2,y2 ]

## Cash Flow Visualization

In [25]:
df_cash_flow

,initial_cost,loan_cost,operating_cost,fuel_cost,elec_cost,elec_cost_no_pce,cash_flow,cum_disc_cash_flow,cash_flow_no_pce,cum_disc_cash_flow_no_pce
year,,,,,,,,,,
0,-6500.0,0.0,0.0,0.000000,-0.000000,-0.000000,-6500.000000,-6500.000000,-6500.000000,-6500.000000
1,0.0,-0.0,0.0,1700.305998,-998.956033,-1201.474158,701.349965,-5832.047652,498.831840,-6024.922057
2,0.0,-0.0,0.0,1751.315178,-1018.935154,-1225.503641,732.380025,-5167.757380,525.811537,-5547.995492
3,0.0,-0.0,0.0,1803.854634,-1039.313857,-1250.013714,764.540777,-4507.318312,553.840920,-5069.566882
4,0.0,-0.0,0.0,1857.970273,-1060.100134,-1275.013988,797.870139,-3850.908574,582.956285,-4589.967304
5,0.0,-0.0,0.0,1913.709381,-1081.302137,-1300.514268,832.407244,-3198.695717,613.195113,-4109.512888
6,0.0,-0.0,0.0,1971.120662,-1102.928179,-1326.524553,868.192483,-2550.837119,644.596109,-3628.505347
7,0.0,-0.0,0.0,2030.254282,-1124.986743,-1353.055044,905.267539,-1907.480380,677.199238,-3147.232492
8,0.0,-0.0,0.0,2091.161911,-1147.486478,-1380.116145,943.675433,-1268.763702,711.045765,-2665.968730
9,0.0,-0.0,0.0,2153.896768,-1170.436207,-1407.718468,983.460561,-634.816256,746.178300,-2184.975545
10,0.0,-0.0,0.0,2218.513671,-1193.844931,-1435.872838,1024.668740,-5.758536,782.640833,-1704.501964
11,0.0,0.0,0.0,2285.069081,-1217.721830,-1464.590294,1067.347251,618.297296,820.478787,-1224.785010
12,0.0,0.0,0.0,2353.621154,-1242.076267,-1493.882100,1111.544887,1237.247081,859.739053,-746.050135
13,0.0,0.0,0.0,2424.229788,-1266.917792,-1523.759742,1157.311996,1850.994342,900.470046,-268.511644
14,0.0,0.0,0.0,2496.956682,-1292.256148,-1554.234937,1204.700534,2459.449975,942.721745,207.626897

In [26]:
df_cash_flow['negative_flow'] = np.where(df_cash_flow.cash_flow < 0, df_cash_flow.cash_flow, 0)
df_cash_flow['positive_flow'] = np.where(df_cash_flow.cash_flow > 0, df_cash_flow.cash_flow, 0)

In [27]:
negative_flow = go.Bar(x=df_cash_flow.index,
                        y=df_cash_flow.negative_flow,
                        name='Cash Flow', 
                        marker=dict(color='#d7191c'))

positive_flow = go.Bar(x=df_cash_flow.index,
                        y=df_cash_flow.positive_flow,
                        name='Cash Flow', 
                        marker=dict(color='#000000'))

data = [negative_flow, positive_flow]

layout = go.Layout(title='Heat Pump Cash Flow',
               xaxis=dict(title='Year'),
               yaxis=dict(title='Annual Cash Flow ($)', hoverformat='dol,.0f')
                  )

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='cash_flow', fileopt='overwrite')

## Cumulative Discounted Cash Flow

In [28]:
df_cash_flow

,initial_cost,loan_cost,operating_cost,fuel_cost,elec_cost,elec_cost_no_pce,cash_flow,cum_disc_cash_flow,cash_flow_no_pce,cum_disc_cash_flow_no_pce,negative_flow,positive_flow
year,,,,,,,,,,,,
0,-6500.0,0.0,0.0,0.000000,-0.000000,-0.000000,-6500.000000,-6500.000000,-6500.000000,-6500.000000,-6500.0,0.000000
1,0.0,-0.0,0.0,1700.305998,-998.956033,-1201.474158,701.349965,-5832.047652,498.831840,-6024.922057,0.0,701.349965
2,0.0,-0.0,0.0,1751.315178,-1018.935154,-1225.503641,732.380025,-5167.757380,525.811537,-5547.995492,0.0,732.380025
3,0.0,-0.0,0.0,1803.854634,-1039.313857,-1250.013714,764.540777,-4507.318312,553.840920,-5069.566882,0.0,764.540777
4,0.0,-0.0,0.0,1857.970273,-1060.100134,-1275.013988,797.870139,-3850.908574,582.956285,-4589.967304,0.0,797.870139
5,0.0,-0.0,0.0,1913.709381,-1081.302137,-1300.514268,832.407244,-3198.695717,613.195113,-4109.512888,0.0,832.407244
6,0.0,-0.0,0.0,1971.120662,-1102.928179,-1326.524553,868.192483,-2550.837119,644.596109,-3628.505347,0.0,868.192483
7,0.0,-0.0,0.0,2030.254282,-1124.986743,-1353.055044,905.267539,-1907.480380,677.199238,-3147.232492,0.0,905.267539
8,0.0,-0.0,0.0,2091.161911,-1147.486478,-1380.116145,943.675433,-1268.763702,711.045765,-2665.968730,0.0,943.675433
9,0.0,-0.0,0.0,2153.896768,-1170.436207,-1407.718468,983.460561,-634.816256,746.178300,-2184.975545,0.0,983.460561
10,0.0,-0.0,0.0,2218.513671,-1193.844931,-1435.872838,1024.668740,-5.758536,782.640833,-1704.501964,0.0,1024.668740
11,0.0,0.0,0.0,2285.069081,-1217.721830,-1464.590294,1067.347251,618.297296,820.478787,-1224.785010,0.0,1067.347251
12,0.0,0.0,0.0,2353.621154,-1242.076267,-1493.882100,1111.544887,1237.247081,859.739053,-746.050135,0.0,1111.544887
13,0.0,0.0,0.0,2424.229788,-1266.917792,-1523.759742,1157.311996,1850.994342,900.470046,-268.511644,0.0,1157.311996
14,0.0,0.0,0.0,2496.956682,-1292.256148,-1554.234937,1204.700534,2459.449975,942.721745,207.626897,0.0,1204.700534

In [29]:
df_cash_flow['cum_negative_flow'] = np.where(df_cash_flow.cum_disc_cash_flow < 0, df_cash_flow.cum_disc_cash_flow, 0)
df_cash_flow['cum_positive_flow'] = np.where(df_cash_flow.cum_disc_cash_flow > 0, df_cash_flow.cum_disc_cash_flow, 0)

In [30]:
negative_cash_flow = go.Scatter(x=df_cash_flow.index,
                            y=df_cash_flow.cum_negative_flow,
                            name='Cash Flow ($)',
                            fill='tozeroy',
                            fillcolor='#d7191c',
                            line=dict(color='#ffffff')
                           )

positive_cash_flow = go.Scatter(x=df_cash_flow.index,
                            y=df_cash_flow.cum_positive_flow,
                            name='Cash Flow ($)',
                            fill='tozeroy',
                            fillcolor='#000000',
                            line=dict(color='#ffffff')
                           )

data = [negative_cash_flow, positive_cash_flow]

layout = go.Layout(title='Heat Pump Lifetime Cumulative Discounted Cash Flow',
                   xaxis=dict(title='Year'),
                   yaxis=dict(title='Annual Discounted Cash Flow ($)', hoverformat='.0f'),
                  )

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='cumulative_discounted_heatpump_cash_flow', fileopt='overwrite')

## Markdown Display of Results

In [31]:
## Need to account for NaN internal rate of return (hide somehow)

### With PCE

In [32]:
md_results = '''# Results

## Heat Pump Cost Effectiveness

### Net Present Value:  **\${:,.0f}**
The Net Present Value of installing an air-source heat pump is estimated to be **\${:,.0f}**. 
This means that over the course of the life of the equipment you will {} **\${:,.0f}** in today's dollars.

### Internal Rate of Return:  **{:.1f}%**
The internal rate of return on the investment is estimated to be **{:.1f}%**. Compare this tax-free investment to your other investment options.

### Cash Flow
This is how your cash flow will be affected by installing a heat pump:


## Greenhouse Gas Emissions

Installing a heat pump is predicted to save {:,.0f} pounds of CO2 emissions annually, or {:,.0f} pounds over the life of the equipment.
This is equivalent to a reduction of {:,.0f} miles driven by an average passenger vehicle annually, or {:,.0f} over the equipment's life.  
'''

In [33]:
def npv_indicator(summary, pce_indicator):
    if pce_indicator == 1:
        if summary['npv'] > 0:
            return 'earn'
        else:
            return 'lose'
    else: 
        if summary['npv_no_pce'] > 0:
            return 'earn'
        else:
            return 'lose'

In [34]:
smy

{'fuel_unit': 'gallons',
 'fuel_desc': '#1 Oil',
 'design_heat_load': 21478.25351576897,
 'design_heat_temp': -49.900000000000006,
 'cop': 2.836600461342373,
 'hp_max_capacity_5F': 15046.92,
 'max_hp_reached': False,
 'co2_lbs_saved': 880.4143742987326,
 'co2_driving_miles_saved': 987.1566051726571,
 'irr': 0.09915273879411424,
 'irr_no_pce': 0.05443037924944405,
 'npv': 2459.449974522957,
 'npv_no_pce': 207.62689740143685,
 'fuel_use_base': 449.99999999999994,
 'fuel_use_hp': 237.46175019934367,
 'fuel_use_chg': -212.53824980065627,
 'elec_use_base': 5261.587156420448,
 'elec_use_hp': 7656.445142246896,
 'elec_use_chg': 2394.8579858264475,
 'elec_rate_avg_base': 0.23200883941833067,
 'elec_rate_avg_hp': 0.28991140424534884}

In [35]:
smy['npv']

2459.449974522957

In [36]:
md = md_results.format(smy['npv'],
                       smy['npv'],
                      npv_indicator(smy, 1),
                      abs(smy['npv']),
                      smy['irr']*100,
                       smy['irr']*100,
                      smy['co2_lbs_saved'],
                      smy['co2_lbs_saved'] * 12,
                      smy['co2_driving_miles_saved'],
                      smy['co2_driving_miles_saved'] * 12)
Markdown(md)

# Results

## Heat Pump Cost Effectiveness

### Net Present Value:  **\$2,459**
The Net Present Value of installing an air-source heat pump is estimated to be **\$2,459**.
This means that over the course of the life of the equipment you will earn **\$2,459** in today's dollars.

### Internal Rate of Return:  **9.9%**
The internal rate of return on the investment is estimated to be **9.9%**. Compare this tax-free investment to your other investment options.

### Cash Flow
This is how your cash flow will be affected by installing a heat pump:


## Greenhouse Gas Emissions

Installing a heat pump is predicted to save 880 pounds of CO2 emissions annually, or 10,565 pounds over the life of the equipment.
This is equivalent to a reduction of 987 miles driven by an average passenger vehicle annually, or 11,846 over the equipment's life.

In [42]:
from textwrap import dedent
inputs = {'hp_life': 14}

In [49]:
sumd = smy.copy()
sumd['npv_abs'] =  abs(sumd['npv'])
sumd['irr'] *= 100.   # convert to %
sumd['npv_indicator'] = 'earn' if sumd['npv'] >= 0 else 'lose'
sumd['co2_lbs_saved_life'] = sumd['co2_lbs_saved'] * inputs['hp_life']
sumd['co2_driving_miles_saved_life'] = sumd['co2_driving_miles_saved'] * inputs['hp_life']

md_tmpl = dedent('''
# Results

## Heat Pump Cost Effectiveness

### Net Present Value:  **\${npv:,.0f}**

The Net Present Value of installing an air-source heat pump is estimated to 
be **\${npv:,.0f}**. This means that over the course of the life of the equipment you 
will {npv_indicator} **\${npv_abs:,.0f}** in today's dollars.

### Internal Rate of Return:  **{irr:.1f}%**

The internal rate of return on the investment is estimated to be **{irr:.1f}%**. 
Compare this tax-free investment to your other investment options.

### Cash Flow

This is how your cash flow will be affected by installing a heat pump:

## Greenhouse Gas Emissions

Installing a heat pump is predicted to save {co2_lbs_saved:,.0f} pounds of CO2 emissions annually, 
or {co2_lbs_saved_life:,.0f} pounds over the life of the equipment. This is equivalent to a reduction 
of {co2_driving_miles_saved:,.0f} miles driven by an average passenger vehicle annually, 
or {co2_driving_miles_saved_life:,.0f} miles over the equipment's life.  
''')

md = md_tmpl.format(**sumd)
Markdown(md)

# Results

## Heat Pump Cost Effectiveness

### Net Present Value:  **\$2,459**

The Net Present Value of installing an air-source heat pump is estimated to
be **\$2,459**. This means that over the course of the life of the equipment you
will earn **\$2,459** in today's dollars.

### Internal Rate of Return:  **9.9%**

The internal rate of return on the investment is estimated to be **9.9%**.
Compare this tax-free investment to your other investment options.

### Cash Flow
This is how your cash flow will be affected by installing a heat pump:

## Greenhouse Gas Emissions

Installing a heat pump is predicted to save 880 pounds of CO2 emissions annually,
or 12,326 pounds over the life of the equipment. This is equivalent to a reduction
of 987 miles driven by an average passenger vehicle annually,
or 13,820 miles over the equipment's life.

In [44]:
sumd

{'fuel_unit': 'gallons',
 'fuel_desc': '#1 Oil',
 'design_heat_load': 21478.25351576897,
 'design_heat_temp': -49.900000000000006,
 'cop': 2.836600461342373,
 'hp_max_capacity_5F': 15046.92,
 'max_hp_reached': False,
 'co2_lbs_saved': 880.4143742987326,
 'co2_driving_miles_saved': 987.1566051726571,
 'irr': 9.915273879411423,
 'irr_no_pce': 0.05443037924944405,
 'npv': 2459.449974522957,
 'npv_no_pce': 207.62689740143685,
 'fuel_use_base': 449.99999999999994,
 'fuel_use_hp': 237.46175019934367,
 'fuel_use_chg': -212.53824980065627,
 'elec_use_base': 5261.587156420448,
 'elec_use_hp': 7656.445142246896,
 'elec_use_chg': 2394.8579858264475,
 'elec_rate_avg_base': 0.23200883941833067,
 'elec_rate_avg_hp': 0.28991140424534884,
 'npv_indicator': 'earn',
 'co2_lbs_saved_life': 12325.801240182256,
 'co2_driving_miles_saved_life': 13820.1924724172}

### Without PCE

In [37]:
no_pce_economic_md_results = '''# Results

## Heat Pump Cost Effectiveness without Power Cost Equalization (PCE)

### Net Present Value:  **\${:,.0f}**

The Net Present Value of installing an air-source heat pump is estimated to be **\${:,.0f}** if the PCE subsidy is not included. This means that over the course of the life of the equipment 
you **will {} \${:,.0f}** in today's dollars.

### Internal Rate of Return:  **{:.1f}%**

The internal rate of return on the investment is estimated to be **{:.1f}%** if the PCE subsidy is not included. Compare this tax-free investment to your other investment options.

### Cash Flow

This is how your cash flow will be affected by installing a heat pump if the PCE subsidy is not included:
'''

In [38]:
no_pce_md = no_pce_economic_md_results.format(smy['npv_no_pce'],
                                              smy['npv_no_pce'],
                                              npv_indicator(smy, 0),
                                              abs(smy['npv_no_pce']),
                                              smy['irr_no_pce']*100,
                                              smy['irr_no_pce']*100,
                                              smy['co2_lbs_saved'],
                                              smy['co2_lbs_saved'] * 12,
                                              smy['co2_driving_miles_saved'],
                                              smy['co2_driving_miles_saved'] * 12
                                             )
no_pce_md

"# Results\n\n## Heat Pump Cost Effectiveness without Power Cost Equalization (PCE)\n\n### Net Present Value:  **\\$208**\n\nThe Net Present Value of installing an air-source heat pump is estimated to be **\\$208** if the PCE subsidy is not included. This means that over the course of the life of the equipment \nyou **will earn \\$208** in today's dollars.\n\n### Internal Rate of Return:  **5.4%**\n\nThe internal rate of return on the investment is estimated to be **5.4%** if the PCE subsidy is not included. Compare this tax-free investment to your other investment options.\n\n### Cash Flow\n\nThis is how your cash flow will be affected by installing a heat pump if the PCE subsidy is not included:\n"

In [39]:
Markdown(no_pce_md)

# Results

## Heat Pump Cost Effectiveness without Power Cost Equalization (PCE)

### Net Present Value:  **\$208**

The Net Present Value of installing an air-source heat pump is estimated to be **\$208** if the PCE subsidy is not included. This means that over the course of the life of the equipment
you **will earn \$208** in today's dollars.

### Internal Rate of Return:  **5.4%**

The internal rate of return on the investment is estimated to be **5.4%** if the PCE subsidy is not included. Compare this tax-free investment to your other investment options.

### Cash Flow

This is how your cash flow will be affected by installing a heat pump if the PCE subsidy is not included: