# Notebook to be used to Develop Display of Results

In [94]:
from importlib import reload
import pandas as pd
import numpy as np
from IPython.display import Markdown

In [95]:
# If one of the modules changes and you need to reimport it,
# execute this cell again.
import heatpump.hp_model
reload(heatpump.hp_model)
import heatpump.home_heat_model
reload(heatpump.home_heat_model)
import heatpump.library as lib
reload(lib)

In [96]:
# Anchorage large home inputs
util = lib.util_from_id(1)
inputs1 = dict(
    city_id=1,
    utility=util,
    pce_limit=500.0,
    co2_lbs_per_kwh=1.1,
    exist_heat_fuel_id=2,
    exist_unit_fuel_cost=0.97852,
    exist_fuel_use=1600,
    exist_heat_effic=.8,
    exist_kwh_per_mmbtu=8,
    includes_dhw=True,
    includes_dryer=True,
    includes_cooking=False,
    occupant_count=3,
    elec_use_jan=550,
    elec_use_may=400,
    hp_model_id=575,
    low_temp_cutoff=5,
    garage_stall_count=2,
    garage_heated_by_hp=False,
    bldg_floor_area=3600,
    indoor_heat_setpoint=70,
    insul_level=3,  
    pct_exposed_to_hp=0.46,
    doors_open_to_adjacent=False,
    bedroom_temp_tolerance=2,
    capital_cost=4500,
    rebate_dol=500,
    pct_financed=0.5,
    loan_term=10,
    loan_interest=0.05,
    hp_life=14,
    op_cost_chg=10,
    sales_tax=0.02,
    discount_rate=0.05,
    inflation_rate=0.02,
    fuel_esc_rate=0.03,
    elec_esc_rate=0.02,
)

In [97]:
# Ambler Home inputs
util = lib.util_from_id(202)
inputs2 = dict(
    city_id=45,
    utility=util,
    pce_limit=500.0,
    co2_lbs_per_kwh=1.6,
    exist_heat_fuel_id=4,
    exist_unit_fuel_cost=8.0,
    exist_fuel_use=450,
    exist_heat_effic=.86,
    exist_kwh_per_mmbtu=8,
    includes_dhw=False,
    includes_dryer=False,
    includes_cooking=False,
    occupant_count=3,
    elec_use_jan=550,
    elec_use_may=300,
    hp_model_id=575,
    low_temp_cutoff=5,
    garage_stall_count=0,
    garage_heated_by_hp=False,
    bldg_floor_area=800,
    indoor_heat_setpoint=70,
    insul_level=2,  
    pct_exposed_to_hp=1.0,
    doors_open_to_adjacent=False,
    bedroom_temp_tolerance=3,
    capital_cost=6500,
    rebate_dol=0,
    pct_financed=0.0,
    loan_term=10,
    loan_interest=0.05,
    hp_life=14,
    op_cost_chg=0,
    sales_tax=0.00,
    discount_rate=0.05,
    inflation_rate=0.02,
    fuel_esc_rate=0.03,
    elec_esc_rate=0.02,
)

In [98]:
inputs2

{'city_id': 45,
 'utility': ID                                                            202
 Name                                    AVEC-Ambler - Residential
 Active                                                       True
 Type                                                            1
 IsCommercial                                                False
 ChargesRCC                                                  False
 PCE                                                        0.2943
 CO2                                                           1.8
 CustomerChg                                                     5
 DemandCharge                                                  NaN
 NameShort                                                  AVEC-A
 Blocks          [(700.0, 0.525100007653236), (nan, 0.425099998...
 Name: 202, dtype: object,
 'pce_limit': 500.0,
 'co2_lbs_per_kwh': 1.6,
 'exist_heat_fuel_id': 4,
 'exist_unit_fuel_cost': 8.0,
 'exist_fuel_use': 450,
 'exist_heat_effic': 0.86,
 'exist_kwh_per_mmbtu': 8,
 'includes_dhw': False,
 'includes_dryer': False,
 'includes_cooking': False,
 'occupant_count': 3,
 'elec_use_jan': 550,
 'elec_use_may': 300,
 'hp_model_id': 575,
 'low_temp_cutoff': 5,
 'garage_stall_count': 0,
 'garage_heated_by_hp': False,
 'bldg_floor_area': 800,
 'indoor_heat_setpoint': 70,
 'insul_level': 2,
 'pct_exposed_to_hp': 1.0,
 'doors_open_to_adjacent': False,
 'bedroom_temp_tolerance': 3,
 'capital_cost': 6500,
 'rebate_dol': 0,
 'pct_financed': 0.0,
 'loan_term': 10,
 'loan_interest': 0.05,
 'hp_life': 14,
 'op_cost_chg': 0,
 'sales_tax': 0.0,
 'discount_rate': 0.05,
 'inflation_rate': 0.02,
 'fuel_esc_rate': 0.03,
 'elec_esc_rate': 0.02}

In [99]:
# Change from **inputs1 to **inputs2 to run the two cases.
mod = heatpump.hp_model.HP_model(**inputs2)
mod.run()

# Pull out the results from the model object.
# Use these variable names in your display of outputs.
smy = mod.summary
df_cash_flow = mod.df_cash_flow
df_mo_en_base = mod.df_mo_en_base
df_mo_en_hp = mod.df_mo_en_hp
df_mo_dol_base = mod.df_mo_dol_base
df_mo_dol_hp = mod.df_mo_dol_hp

In [100]:
# This is a dictionary containing summary output.
# The 'fuel_use_xxx' values are annual totals in physical units
# like gallons.  'elec_use_xxx' are kWh.  'hp_max_capacity' is the
# maximum output of the heat pump at 5 deg F.  'max_hp_reached' 
# indicates whether the heat pump ever used all of its capacity
# at some point during the year.
smy

{'fuel_unit': 'gallon',
 'fuel_desc': '#1 Oil',
 'design_heat_load': 21201.927119512457,
 'design_heat_temp': -49.900000000000006,
 'cop': 2.519324565229742,
 'hp_max_capacity_5F': 11680.0,
 'max_hp_reached': False,
 'co2_lbs_saved': 234.24209592915759,
 'co2_driving_miles_saved': 262.64181839390943,
 'hp_load_frac': 0.48838301950662943,
 'irr': 0.08406448648707987,
 'npv': 1671.245004417582,
 'fuel_use_base': 449.9792953956806,
 'fuel_use_hp': 233.24378089972885,
 'fuel_use_chg': -216.73551449595175,
 'fuel_price_incremental': 8.0,
 'elec_use_base': 4369.311927367413,
 'elec_use_hp': 7226.188579336473,
 'elec_use_chg': 2856.87665196906,
 'elec_rate_avg_base': 0.2482038012866406,
 'elec_rate_avg_hp': 0.30305927219720163,
 'elec_rate_incremental': 0.3869553211098049}

In [101]:
md = f"Design Heat Load: **{smy['design_heat_load']:,.0f} Btu/hour** at {smy['design_heat_temp']:.0f} degrees F outdoors"
md

'Design Heat Load: **21,202 Btu/hour** at -50 degrees F outdoors'

In [102]:
# You can get a string that is in Markdown format rendered properly
# by using the Markdown class.
Markdown(md)

Design Heat Load: **21,202 Btu/hour** at -50 degrees F outdoors

In [103]:
# Or, this might be a case where f-strings are not the cleanest.
# Here is another way:
md = 'Design Heat Load of Entire Building: **{design_heat_load:,.0f} Btu/hour** at {design_heat_temp:.0f} degrees F outdoors  \n(required output of heating system, no safety margin)'.format(**smy)
Markdown(md)

Design Heat Load of Entire Building: **21,202 Btu/hour** at -50 degrees F outdoors
(required output of heating system, no safety margin)

In [104]:
# Cash Flow over the life of the heat pump.
# Negative values are costs and positive values are benefits.
# When displaying this table delete the two columns that don't apply,
# depending on whether you are showing the PCE or no PCE case.
df_cash_flow

,initial_cost,loan_cost,op_cost,fuel_cost,elec_cost,cash_flow,cum_disc_cash_flow
year,,,,,,,
0,-6500.0,0.0,0.0,0.000000,-0.000000,-6500.000000,-6500.000000
1,0.0,-0.0,0.0,1733.884116,-1105.483622,628.400494,-5901.523339
2,0.0,-0.0,0.0,1785.900639,-1127.593295,658.307345,-5304.419172
3,0.0,-0.0,0.0,1839.477659,-1150.145161,689.332498,-4708.947842
4,0.0,-0.0,0.0,1894.661988,-1173.148064,721.513925,-4115.356551
5,0.0,-0.0,0.0,1951.501848,-1196.611025,754.890823,-3523.879838
6,0.0,-0.0,0.0,2010.046903,-1220.543246,789.503658,-2934.740053
7,0.0,-0.0,0.0,2070.348311,-1244.954110,825.394200,-2348.147805
8,0.0,-0.0,0.0,2132.458760,-1269.853193,862.605567,-1764.302403
9,0.0,-0.0,0.0,2196.432523,-1295.250257,901.182266,-1183.392279
10,0.0,-0.0,0.0,2262.325498,-1321.155262,941.170237,-605.595397
11,0.0,0.0,0.0,2330.195263,-1347.578367,982.616896,-31.079648
12,0.0,0.0,0.0,2400.101121,-1374.529934,1025.571187,539.996764
13,0.0,0.0,0.0,2472.104155,-1402.020533,1070.083622,1107.484955
14,0.0,0.0,0.0,2546.267280,-1430.060944,1116.206336,1671.245004

In [105]:
# The Base case and w/ Heat Pump monthly energy results.
df_mo_en_base

,hp_load_mmbtu,secondary_load_mmbtu,hp_kwh,secondary_fuel_mmbtu,secondary_kwh,hp_kw,secondary_fuel_units,cop,total_kwh,co2_lbs
Jan,0.0,9.070668,0.0,10.547288,72.565342,0.0,76.734337,NaN,72.565342,1817.382112
Feb,0.0,6.563506,0.0,7.631984,52.508049,0.0,55.524721,NaN,52.508049,1315.051886
Mar,0.0,5.625189,0.0,6.540918,45.001513,0.0,47.586921,NaN,45.001513,1127.052416
Apr,0.0,4.770486,0.0,5.547077,38.163887,0.0,40.356463,NaN,38.163887,955.805674
May,0.0,2.623131,0.0,3.050152,20.985045,0.0,22.190669,NaN,20.985045,525.565574
Jun,0.0,0.994355,0.0,1.156227,7.954841,0.0,8.411860,NaN,7.954841,199.227154
Jul,0.0,1.166440,0.0,1.356326,9.331524,0.0,9.867635,NaN,9.331524,233.705846
Aug,0.0,1.707802,0.0,1.985816,13.662417,0.0,14.447344,NaN,13.662417,342.172047
Sep,0.0,3.053401,0.0,3.550466,24.427208,0.0,25.830591,NaN,24.427208,611.773756
Oct,0.0,3.917560,0.0,4.555302,31.340478,0.0,33.141039,NaN,31.340478,784.914981
Nov,0.0,6.608624,0.0,7.684446,52.868992,0.0,55.906400,NaN,52.868992,1324.091598
Dec,0.0,7.090315,0.0,8.244552,56.722516,0.0,59.981316,NaN,56.722516,1420.602233

In [106]:
df_mo_en_hp

,hp_load_mmbtu,secondary_load_mmbtu,hp_kwh,secondary_fuel_mmbtu,secondary_kwh,hp_kw,secondary_fuel_units,cop,total_kwh,co2_lbs
Jan,0.900312,8.194278,110.627011,9.528230,65.554221,1.371479,69.320416,2.385189,176.181232,1818.793441
Feb,1.832658,4.779544,232.803034,5.557609,38.236349,1.380103,40.433089,2.307192,271.039384,1330.105332
Mar,3.424761,2.291426,438.054054,2.664449,18.331408,1.525061,19.384577,2.291361,456.385462,1159.992340
Apr,3.156700,1.697662,376.974247,1.974025,13.581295,1.534681,14.361562,2.454215,390.555542,943.299173
May,2.490782,0.198531,264.039537,0.230850,1.588246,1.432893,1.679493,2.764762,265.627782,462.240505
Jun,1.021497,0.000000,96.892368,0.000000,0.000000,0.580449,0.000000,3.089858,96.892368,155.027789
Jul,1.198280,0.000000,112.984442,0.000000,0.000000,0.591353,0.000000,3.108354,112.984442,180.775107
Aug,1.754418,0.000000,174.997447,0.000000,0.000000,0.992036,0.000000,2.938275,174.997447,279.995916
Sep,3.136747,0.000000,341.211605,0.000000,0.000000,1.083998,0.000000,2.694304,341.211605,545.938567
Oct,4.024493,0.000000,478.010501,0.000000,0.000000,1.487544,0.000000,2.467543,478.010501,764.816802
Nov,1.467097,5.180509,171.711754,6.023848,41.444072,1.397499,43.825101,2.504089,213.155827,1312.695963
Dec,1.911608,5.229500,263.530875,6.080814,41.835998,1.487544,44.239543,2.125975,305.366873,1469.422248

In [107]:
# The monthly dollar flows with and without the heat pump
# The PCE and no PCE case are included in this one table
df_mo_dol_base

,elec_kwh,elec_kw,elec_dol,secondary_fuel_units,secondary_fuel_dol,total_dol
Jan,550.000000,1.883562,146.655009,76.734337,613.874695,760.529704
Feb,440.347990,1.508041,106.632324,55.524721,444.197766,550.830090
Mar,415.475537,1.422861,100.891761,47.586921,380.695371,481.587133
Apr,351.475366,1.203683,86.120521,40.356463,322.851707,408.972227
May,300.000000,1.027397,74.240005,22.190669,177.525356,251.765361
Jun,220.678589,0.755749,55.932622,8.411860,67.294878,123.227501
Jul,230.771702,0.790314,58.262113,9.867635,78.941079,137.203192
Aug,251.138741,0.860064,62.962826,14.447344,115.578754,178.541580
Sep,293.401653,1.004800,72.717107,25.830591,206.644725,279.361832
Oct,361.708811,1.238729,88.482400,33.141039,265.128308,353.610708
Nov,449.802632,1.540420,108.814455,55.906400,447.251197,556.065653
Dec,504.510906,1.727777,122.768686,59.981316,479.850526,602.619212

In [108]:
df_mo_dol_hp

,elec_kwh,elec_kw,elec_dol,secondary_fuel_units,secondary_fuel_dol,total_dol
Jan,653.615890,3.255041,201.063714,69.320416,554.563328,755.627042
Feb,658.879324,2.888145,203.827543,40.433089,323.464710,527.292253
Mar,826.859487,2.947922,279.347978,19.384577,155.076615,434.424593
Apr,703.867021,2.738364,227.063881,14.361562,114.892498,341.956379
May,544.642737,2.460291,143.841911,1.679493,13.435944,157.277855
Jun,309.616116,1.336198,76.459405,0.000000,0.000000,76.459405
Jul,334.424620,1.381667,82.185208,0.000000,0.000000,82.185208
Aug,412.473771,1.852100,100.198954,0.000000,0.000000,100.198954
Sep,610.186049,2.088798,178.258704,0.000000,0.000000,178.258704
Oct,808.378835,2.726273,271.491853,0.000000,0.000000,271.491853
Nov,610.089467,2.937919,178.207989,43.825101,350.600806,528.808794
Dec,753.155263,3.215321,248.016312,44.239543,353.916346,601.932659

In [109]:
list(df_mo_en_base.columns.values)

['hp_load_mmbtu',
 'secondary_load_mmbtu',
 'hp_kwh',
 'secondary_fuel_mmbtu',
 'secondary_kwh',
 'hp_kw',
 'secondary_fuel_units',
 'cop',
 'total_kwh',
 'co2_lbs']

In [110]:
import plotly

plotly.tools.set_credentials_file(username='dustin_cchrc', api_key='yzYaFYf93PQ7D0VUZKGy')

import plotly.plotly as py
import plotly.graph_objs as go

## Monthly Heating Load

In [111]:
data = [go.Bar(x=df_mo_en_base.index,
           y=df_mo_en_base.secondary_load_mmbtu, 
             name='Monthly Heating Load')]

layout = go.Layout(title='Monthly Heating Load',
               xaxis=dict(title='Month'),
               yaxis=dict(title='Total Estimated Heat Load (MMBTU)', hoverformat='.1f')
                  )

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='estimated_heat_load', fileopt='overwrite')

## Heating Cost Comparison

In [112]:
df_mo_dol_chg = df_mo_dol_hp - df_mo_dol_base

df_mo_dol_chg['cost_savings'] = np.where(
    df_mo_dol_chg.total_dol < 0.0,
    -df_mo_dol_chg.total_dol,
    0.0
)

# Note: we make these negative values so bars extend downwards
df_mo_dol_chg['cost_increases'] = np.where(
    df_mo_dol_chg.total_dol >= 0.0,
    -df_mo_dol_chg.total_dol,
    0.0
)

df_mo_dol_chg

,elec_kwh,elec_kw,elec_dol,secondary_fuel_units,secondary_fuel_dol,total_dol,cost_savings,cost_increases
Jan,103.615890,1.371479,54.408705,-7.413921,-59.311367,-4.902662,4.902662,0.0
Feb,218.531334,1.380103,97.195219,-15.091632,-120.733056,-23.537837,23.537837,0.0
Mar,411.383949,1.525061,178.456217,-28.202345,-225.618756,-47.162540,47.162540,0.0
Apr,352.391655,1.534681,140.943360,-25.994901,-207.959209,-67.015848,67.015848,0.0
May,244.642737,1.432893,69.601905,-20.511176,-164.089411,-94.487506,94.487506,0.0
Jun,88.937526,0.580449,20.526783,-8.411860,-67.294878,-46.768096,46.768096,0.0
Jul,103.652918,0.591353,23.923095,-9.867635,-78.941079,-55.017984,55.017984,0.0
Aug,161.335031,0.992036,37.236128,-14.447344,-115.578754,-78.342627,78.342627,0.0
Sep,316.784396,1.083998,105.541597,-25.830591,-206.644725,-101.103128,101.103128,0.0
Oct,446.670023,1.487544,183.009453,-33.141039,-265.128308,-82.118855,82.118855,0.0
Nov,160.286835,1.397499,69.393533,-12.081299,-96.650392,-27.256858,27.256858,0.0
Dec,248.644356,1.487544,125.247627,-15.741772,-125.934180,-0.686553,0.686553,0.0

In [113]:
# calculate the change in dollars between the base scenario and the heat
# pump scenario.
hp_cost = go.Bar(
    x=df_mo_dol_hp.index,
    y=df_mo_dol_hp.total_dol,
    name='', 
    marker=dict(color='#377eb8'),
    hoverinfo = 'y',
)

cost_savings = go.Bar(
    x=df_mo_dol_chg.index,
    y=df_mo_dol_chg.cost_savings,
    name='Cost Savings',
    marker=dict(color='#4daf4a'),
    hoverinfo = 'y',
)

cost_increases = go.Bar(
    x=df_mo_dol_chg.index,
    y=df_mo_dol_chg.cost_increases,
    name='Cost Increases',
    marker=dict(color='#e41a1c'),
    hoverinfo = 'y',
)

no_hp_costs = go.Scatter(
    x=df_mo_dol_base.index,
    y=df_mo_dol_base.total_dol,
    name='Baseline Energy Costs',
    mode='markers',
    marker=dict(color='#000000', size=12),
    hoverinfo = 'y',
)

data = [hp_cost, cost_savings, cost_increases, no_hp_costs]

layout = go.Layout(
    title='Energy Costs: Heat Pump vs. Baseline',
    xaxis=dict(title='Month', fixedrange=True,),
    yaxis=dict(
        title='Total Energy Costs', 
        hoverformat='$,.0f',
        fixedrange=True,
        tickformat='$,.0f',
    ),
    barmode='stack',
    hovermode= 'closest',
)

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='heatpump_costs', fileopt='overwrite')

## Monthly Heat Pump Efficiency

In [114]:
efficiency = [go.Scatter(x=df_mo_en_hp.index,
                         y=df_mo_en_hp.cop, 
                        name='COP',
                        mode='lines+markers')]

layout = go.Layout(title='Monthly Heat Pump Efficiency',
                xaxis=dict(title='Month'),
                yaxis=dict(title='COP'))

fig = go.Figure(data=efficiency, layout=layout)

py.iplot(fig, layout=layout, filename='cop', fileopt='overwrite')

## Energy Use Comparison

In [115]:
list(df_mo_en_base.columns.values)

['hp_load_mmbtu',
 'secondary_load_mmbtu',
 'hp_kwh',
 'secondary_fuel_mmbtu',
 'secondary_kwh',
 'hp_kw',
 'secondary_fuel_units',
 'cop',
 'total_kwh',
 'co2_lbs']

In [116]:
list(df_mo_dol_base.columns.values)

['elec_kwh',
 'elec_kw',
 'elec_dol',
 'secondary_fuel_units',
 'secondary_fuel_dol',
 'total_dol']

In [117]:
list(df_mo_dol_hp.columns.values)

['elec_kwh',
 'elec_kw',
 'elec_dol',
 'secondary_fuel_units',
 'secondary_fuel_dol',
 'total_dol']

In [118]:
from plotly import tools

elec_no_hp = go.Scatter(x=df_mo_dol_base.index,
                        y=df_mo_dol_base.elec_kwh,
                        name='Monthly kWh (no Heat Pump)',
                        line=dict(color='#92c5de',
                                 width=2,
                                 dash='dash')
                        )

elec_w_hp = go.Scatter(x=df_mo_dol_hp.index,
                      y=df_mo_dol_hp.elec_kwh,
                      name='Monthly kWh (with Heat Pump)',
                      mode='lines',
                      marker=dict(color='#0571b0')
                      )

fuel_no_hp = go.Scatter(x=df_mo_dol_base.index,
                       y=df_mo_dol_base.secondary_fuel_units,
                       name='Monthly Fuel Usage (no Heat Pump)',
                       line=dict(color='#f4a582',
                                width = 2,
                                dash = 'dash')
                       )

fuel_w_hp = go.Scatter(x=df_mo_dol_hp.index,
                      y=df_mo_dol_hp.secondary_fuel_units,
                      name='Monthly Fuel Usage (with Heat Pump)',
                      mode='lines',
                      marker=dict(color='#ca0020'))

fig = tools.make_subplots(rows=2, cols=1)

fig.append_trace(elec_no_hp, 1, 1)
fig.append_trace(elec_w_hp, 1, 1)
fig.append_trace(fuel_no_hp, 2, 1)
fig.append_trace(fuel_w_hp, 2, 1)

fig['layout'].update(title='Energy Usage: Heat Pump vs. Baseline')

fig['layout']['xaxis1'].update(title='Month')
fig['layout']['xaxis2'].update(title='Month')
fig['layout']['yaxis1'].update(title='Electricity Use (kWh)', hoverformat='.0f')
yaxis2_title = 'Heating Fuel Use (%s)' % (smy['fuel_unit'])
fig['layout']['yaxis2'].update(title=yaxis2_title, hoverformat='.1f')

py.iplot(fig, filename='heatpump_energy_usage', fileopt='overwrite')

This is the format of your plot grid:
[ (1,1) x1,y1 ]
[ (2,1) x2,y2 ]

## Cash Flow Visualization

In [119]:
df_cash_flow

,initial_cost,loan_cost,op_cost,fuel_cost,elec_cost,cash_flow,cum_disc_cash_flow
year,,,,,,,
0,-6500.0,0.0,0.0,0.000000,-0.000000,-6500.000000,-6500.000000
1,0.0,-0.0,0.0,1733.884116,-1105.483622,628.400494,-5901.523339
2,0.0,-0.0,0.0,1785.900639,-1127.593295,658.307345,-5304.419172
3,0.0,-0.0,0.0,1839.477659,-1150.145161,689.332498,-4708.947842
4,0.0,-0.0,0.0,1894.661988,-1173.148064,721.513925,-4115.356551
5,0.0,-0.0,0.0,1951.501848,-1196.611025,754.890823,-3523.879838
6,0.0,-0.0,0.0,2010.046903,-1220.543246,789.503658,-2934.740053
7,0.0,-0.0,0.0,2070.348311,-1244.954110,825.394200,-2348.147805
8,0.0,-0.0,0.0,2132.458760,-1269.853193,862.605567,-1764.302403
9,0.0,-0.0,0.0,2196.432523,-1295.250257,901.182266,-1183.392279
10,0.0,-0.0,0.0,2262.325498,-1321.155262,941.170237,-605.595397
11,0.0,0.0,0.0,2330.195263,-1347.578367,982.616896,-31.079648
12,0.0,0.0,0.0,2400.101121,-1374.529934,1025.571187,539.996764
13,0.0,0.0,0.0,2472.104155,-1402.020533,1070.083622,1107.484955
14,0.0,0.0,0.0,2546.267280,-1430.060944,1116.206336,1671.245004

In [120]:
df_cash_flow['negative_flow'] = np.where(df_cash_flow.cash_flow < 0, df_cash_flow.cash_flow, 0)
df_cash_flow['positive_flow'] = np.where(df_cash_flow.cash_flow > 0, df_cash_flow.cash_flow, 0)

In [121]:
negative_flow = go.Bar(x=df_cash_flow.index,
                        y=df_cash_flow.negative_flow,
                        name='Cash Flow', 
                        marker=dict(color='#d7191c'))

positive_flow = go.Bar(x=df_cash_flow.index,
                        y=df_cash_flow.positive_flow,
                        name='Cash Flow', 
                        marker=dict(color='#000000'))

data = [negative_flow, positive_flow]

layout = go.Layout(title='Heat Pump Cash Flow',
               xaxis=dict(title='Year'),
               yaxis=dict(title='Annual Cash Flow ($)', hoverformat='dol,.0f')
                  )

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='cash_flow', fileopt='overwrite')

## Cumulative Discounted Cash Flow

In [122]:
df_cash_flow

,initial_cost,loan_cost,op_cost,fuel_cost,elec_cost,cash_flow,cum_disc_cash_flow,negative_flow,positive_flow
year,,,,,,,,,
0,-6500.0,0.0,0.0,0.000000,-0.000000,-6500.000000,-6500.000000,-6500.0,0.000000
1,0.0,-0.0,0.0,1733.884116,-1105.483622,628.400494,-5901.523339,0.0,628.400494
2,0.0,-0.0,0.0,1785.900639,-1127.593295,658.307345,-5304.419172,0.0,658.307345
3,0.0,-0.0,0.0,1839.477659,-1150.145161,689.332498,-4708.947842,0.0,689.332498
4,0.0,-0.0,0.0,1894.661988,-1173.148064,721.513925,-4115.356551,0.0,721.513925
5,0.0,-0.0,0.0,1951.501848,-1196.611025,754.890823,-3523.879838,0.0,754.890823
6,0.0,-0.0,0.0,2010.046903,-1220.543246,789.503658,-2934.740053,0.0,789.503658
7,0.0,-0.0,0.0,2070.348311,-1244.954110,825.394200,-2348.147805,0.0,825.394200
8,0.0,-0.0,0.0,2132.458760,-1269.853193,862.605567,-1764.302403,0.0,862.605567
9,0.0,-0.0,0.0,2196.432523,-1295.250257,901.182266,-1183.392279,0.0,901.182266
10,0.0,-0.0,0.0,2262.325498,-1321.155262,941.170237,-605.595397,0.0,941.170237
11,0.0,0.0,0.0,2330.195263,-1347.578367,982.616896,-31.079648,0.0,982.616896
12,0.0,0.0,0.0,2400.101121,-1374.529934,1025.571187,539.996764,0.0,1025.571187
13,0.0,0.0,0.0,2472.104155,-1402.020533,1070.083622,1107.484955,0.0,1070.083622
14,0.0,0.0,0.0,2546.267280,-1430.060944,1116.206336,1671.245004,0.0,1116.206336

In [123]:
df_cash_flow['cum_negative_flow'] = np.where(df_cash_flow.cum_disc_cash_flow < 0, df_cash_flow.cum_disc_cash_flow, 0)
df_cash_flow['cum_positive_flow'] = np.where(df_cash_flow.cum_disc_cash_flow > 0, df_cash_flow.cum_disc_cash_flow, 0)

In [124]:
negative_cash_flow = go.Scatter(x=df_cash_flow.index,
                            y=df_cash_flow.cum_negative_flow,
                            name='Cash Flow ($)',
                            fill='tozeroy',
                            fillcolor='#d7191c',
                            line=dict(color='#ffffff')
                           )

positive_cash_flow = go.Scatter(x=df_cash_flow.index,
                            y=df_cash_flow.cum_positive_flow,
                            name='Cash Flow ($)',
                            fill='tozeroy',
                            fillcolor='#000000',
                            line=dict(color='#ffffff')
                           )

data = [negative_cash_flow, positive_cash_flow]

layout = go.Layout(title='Heat Pump Lifetime Cumulative Discounted Cash Flow',
                   xaxis=dict(title='Year'),
                   yaxis=dict(title='Annual Discounted Cash Flow ($)', hoverformat='.0f'),
                  )

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='cumulative_discounted_heatpump_cash_flow', fileopt='overwrite')

## Markdown Display of Results

In [125]:
## Need to account for NaN internal rate of return (hide somehow)

### With PCE

In [126]:
md_results = '''# Results

## Heat Pump Cost Effectiveness

### Net Present Value:  **\${:,.0f}**
The Net Present Value of installing an air-source heat pump is estimated to be **\${:,.0f}**. 
This means that over the course of the life of the equipment you will {} **\${:,.0f}** in today's dollars.

### Internal Rate of Return:  **{:.1f}%**
The internal rate of return on the investment is estimated to be **{:.1f}%**. Compare this tax-free investment to your other investment options.

### Cash Flow
This is how your cash flow will be affected by installing a heat pump:


## Greenhouse Gas Emissions

Installing a heat pump is predicted to save {:,.0f} pounds of CO2 emissions annually, or {:,.0f} pounds over the life of the equipment.
This is equivalent to a reduction of {:,.0f} miles driven by an average passenger vehicle annually, or {:,.0f} over the equipment's life.  
'''

In [127]:
def npv_indicator(summary, pce_indicator):
    if pce_indicator == 1:
        if summary['npv'] > 0:
            return 'earn'
        else:
            return 'lose'
    else: 
        if summary['npv_no_pce'] > 0:
            return 'earn'
        else:
            return 'lose'

In [128]:
smy

{'fuel_unit': 'gallon',
 'fuel_desc': '#1 Oil',
 'design_heat_load': 21201.927119512457,
 'design_heat_temp': -49.900000000000006,
 'cop': 2.519324565229742,
 'hp_max_capacity_5F': 11680.0,
 'max_hp_reached': False,
 'co2_lbs_saved': 234.24209592915759,
 'co2_driving_miles_saved': 262.64181839390943,
 'hp_load_frac': 0.48838301950662943,
 'irr': 0.08406448648707987,
 'npv': 1671.245004417582,
 'fuel_use_base': 449.9792953956806,
 'fuel_use_hp': 233.24378089972885,
 'fuel_use_chg': -216.73551449595175,
 'fuel_price_incremental': 8.0,
 'elec_use_base': 4369.311927367413,
 'elec_use_hp': 7226.188579336473,
 'elec_use_chg': 2856.87665196906,
 'elec_rate_avg_base': 0.2482038012866406,
 'elec_rate_avg_hp': 0.30305927219720163,
 'elec_rate_incremental': 0.3869553211098049}

In [129]:
smy['npv']

1671.245004417582

In [130]:
md = md_results.format(smy['npv'],
                       smy['npv'],
                      npv_indicator(smy, 1),
                      abs(smy['npv']),
                      smy['irr']*100,
                       smy['irr']*100,
                      smy['co2_lbs_saved'],
                      smy['co2_lbs_saved'] * 12,
                      smy['co2_driving_miles_saved'],
                      smy['co2_driving_miles_saved'] * 12)
Markdown(md)

# Results

## Heat Pump Cost Effectiveness

### Net Present Value:  **\$1,671**
The Net Present Value of installing an air-source heat pump is estimated to be **\$1,671**.
This means that over the course of the life of the equipment you will earn **\$1,671** in today's dollars.

### Internal Rate of Return:  **8.4%**
The internal rate of return on the investment is estimated to be **8.4%**. Compare this tax-free investment to your other investment options.

### Cash Flow
This is how your cash flow will be affected by installing a heat pump:


## Greenhouse Gas Emissions

Installing a heat pump is predicted to save 234 pounds of CO2 emissions annually, or 2,811 pounds over the life of the equipment.
This is equivalent to a reduction of 263 miles driven by an average passenger vehicle annually, or 3,152 over the equipment's life.

In [131]:
from textwrap import dedent
inputs = {'hp_life': 14}

In [132]:
sumd = smy.copy()
sumd['npv_abs'] =  abs(sumd['npv'])
sumd['irr'] *= 100.   # convert to %
sumd['npv_indicator'] = 'earn' if sumd['npv'] >= 0 else 'lose'
sumd['co2_lbs_saved_life'] = sumd['co2_lbs_saved'] * inputs['hp_life']
sumd['co2_driving_miles_saved_life'] = sumd['co2_driving_miles_saved'] * inputs['hp_life']

md_tmpl = dedent('''
# Results

## Heat Pump Cost Effectiveness

### Net Present Value:  **\${npv:,.0f}**

The Net Present Value of installing an air-source heat pump is estimated to 
be **\${npv:,.0f}**. This means that over the course of the life of the equipment you 
will {npv_indicator} **\${npv_abs:,.0f}** in today's dollars.

### Internal Rate of Return:  **{irr:.1f}%**

The internal rate of return on the investment is estimated to be **{irr:.1f}%**. 
Compare this tax-free investment to your other investment options.

### Cash Flow

This is how your cash flow will be affected by installing a heat pump:

## Greenhouse Gas Emissions

Installing a heat pump is predicted to save {co2_lbs_saved:,.0f} pounds of CO2 emissions annually, 
or {co2_lbs_saved_life:,.0f} pounds over the life of the equipment. This is equivalent to a reduction 
of {co2_driving_miles_saved:,.0f} miles driven by an average passenger vehicle annually, 
or {co2_driving_miles_saved_life:,.0f} miles over the equipment's life.  
''')

md = md_tmpl.format(**sumd)
Markdown(md)

# Results

## Heat Pump Cost Effectiveness

### Net Present Value:  **\$1,671**

The Net Present Value of installing an air-source heat pump is estimated to
be **\$1,671**. This means that over the course of the life of the equipment you
will earn **\$1,671** in today's dollars.

### Internal Rate of Return:  **8.4%**

The internal rate of return on the investment is estimated to be **8.4%**.
Compare this tax-free investment to your other investment options.

### Cash Flow

This is how your cash flow will be affected by installing a heat pump:

## Greenhouse Gas Emissions

Installing a heat pump is predicted to save 234 pounds of CO2 emissions annually,
or 3,279 pounds over the life of the equipment. This is equivalent to a reduction
of 263 miles driven by an average passenger vehicle annually,
or 3,677 miles over the equipment's life.

In [133]:
sumd

{'fuel_unit': 'gallon',
 'fuel_desc': '#1 Oil',
 'design_heat_load': 21201.927119512457,
 'design_heat_temp': -49.900000000000006,
 'cop': 2.519324565229742,
 'hp_max_capacity_5F': 11680.0,
 'max_hp_reached': False,
 'co2_lbs_saved': 234.24209592915759,
 'co2_driving_miles_saved': 262.64181839390943,
 'hp_load_frac': 0.48838301950662943,
 'irr': 8.406448648707986,
 'npv': 1671.245004417582,
 'fuel_use_base': 449.9792953956806,
 'fuel_use_hp': 233.24378089972885,
 'fuel_use_chg': -216.73551449595175,
 'fuel_price_incremental': 8.0,
 'elec_use_base': 4369.311927367413,
 'elec_use_hp': 7226.188579336473,
 'elec_use_chg': 2856.87665196906,
 'elec_rate_avg_base': 0.2482038012866406,
 'elec_rate_avg_hp': 0.30305927219720163,
 'elec_rate_incremental': 0.3869553211098049,
 'npv_abs': 1671.245004417582,
 'npv_indicator': 'earn',
 'co2_lbs_saved_life': 3279.389343008206,
 'co2_driving_miles_saved_life': 3676.985457514732}