# Notebook to be used to Develop Display of Results

In [1]:
from importlib import reload
import pandas as pd
import numpy as np
from IPython.display import Markdown

In [2]:
# If one of the modules changes and you need to reimport it,
# execute this cell again.
import heatpump.hp_model
reload(heatpump.hp_model)
import heatpump.home_heat_model
reload(heatpump.home_heat_model)

In [3]:
# Anchorage large home inputs
inputs1 = dict(
    city_id=1,
    utility_id=1,
    co2_lbs_per_kwh=1.1,
    exist_heat_fuel_id=2,
    exist_unit_fuel_cost=0.97852,
    exist_fuel_use=1600,
    exist_heat_effic=.8,
    exist_kwh_per_mmbtu=8,
    exist_is_point_source=False,
    includes_dhw=True,
    occupant_count=3,
    includes_dryer=True,
    elec_use_jan=550,
    elec_use_may=400,
    hp_model_id=575,
    low_temp_cutoff=5,
    garage_stall_count=2,
    garage_heated_by_hp=False,
    bldg_floor_area=3600,
    indoor_heat_setpoint=70,
    insul_level=3,  
    pct_exposed_to_hp=0.46,
    doors_open_to_adjacent=False,
    bedroom_temp_tolerance=2,
    capital_cost=4500,
    rebate_dol=500,
    pct_financed=0.5,
    loan_term=10,
    loan_interest=0.05,
    hp_life=14,
    op_cost_chg=10,
    sales_tax=0.02,
    discount_rate=0.05,
    inflation_rate=0.02,
    fuel_esc_rate=0.03,
    elec_esc_rate=0.02,
)

In [4]:
# Ambler Home inputs
inputs2 = dict(
    city_id=45,
    utility_id=202,
    co2_lbs_per_kwh=1.6,
    exist_heat_fuel_id=4,
    exist_unit_fuel_cost=8.0,
    exist_fuel_use=450,
    exist_heat_effic=.86,
    exist_kwh_per_mmbtu=8,
    exist_is_point_source=True,
    includes_dhw=False,
    occupant_count=3,
    includes_dryer=False,
    elec_use_jan=550,
    elec_use_may=400,
    hp_model_id=575,
    low_temp_cutoff=5,
    garage_stall_count=0,
    garage_heated_by_hp=False,
    bldg_floor_area=800,
    indoor_heat_setpoint=70,
    insul_level=2,  
    pct_exposed_to_hp=1.0,
    doors_open_to_adjacent=False,
    bedroom_temp_tolerance=3,
    capital_cost=6500,
    rebate_dol=0,
    pct_financed=0.0,
    loan_term=10,
    loan_interest=0.05,
    hp_life=14,
    op_cost_chg=0,
    sales_tax=0.00,
    discount_rate=0.05,
    inflation_rate=0.02,
    fuel_esc_rate=0.03,
    elec_esc_rate=0.02,
)

In [5]:
# Change from **inputs1 to **inputs2 to run the two cases.
mod = heatpump.hp_model.HP_model(**inputs1)
mod.run()

# Pull out the results from the model object.
# Use these variable names in your display of outputs.
smy = mod.summary
df_cash_flow = mod.df_cash_flow
df_mo_en_base = mod.df_mo_en_base
df_mo_en_hp = mod.df_mo_en_hp
df_mo_dol_base = mod.df_mo_dol_base
df_mo_dol_hp = mod.df_mo_dol_hp

In [6]:
# This is a dictionary containing summary output.
# The 'fuel_use_xxx' values are annual totals in physical units
# like gallons.  'elec_use_xxx' are kWh.  'hp_max_capacity' is the
# maximum output of the heat pump at 5 deg F.  'max_hp_reached' 
# indicates whether the heat pump ever used all of its capacity
# at some point during the year.
smy

{'co2_driving_miles_saved': 1632.4183834663284,
 'co2_lbs_saved': 1455.9033512437309,
 'cop': 2.792958086318037,
 'design_heat_load': 46393.01985663801,
 'design_heat_temp': -2.9200000000000017,
 'elec_rate_avg_base': 0.20879296302967482,
 'elec_rate_avg_hp': 0.20129082055276415,
 'elec_use_base': 5266.3389940722445,
 'elec_use_chg': 3562.107247711123,
 'elec_use_hp': 8828.446241783367,
 'fuel_desc': 'Natural Gas',
 'fuel_unit': 'ccf',
 'fuel_use_base': 1326.8147507731203,
 'fuel_use_chg': -442.94614838381267,
 'fuel_use_hp': 883.8686023893076,
 'hp_max_capacity_5F': 15046.92,
 'irr': nan,
 'irr_no_pce': nan,
 'max_hp_reached': False,
 'npv': -6516.8581747437875,
 'npv_no_pce': -6516.8581747437875}

In [7]:
md = f"Design Heat Load: **{smy['design_heat_load']:,.0f} Btu/hour** at {smy['design_heat_temp']:.0f} degrees F outdoors"
md

'Design Heat Load: **46,393 Btu/hour** at -3 degrees F outdoors'

In [8]:
# You can get a string that is in Markdown format rendered properly
# by using the Markdown class.
Markdown(md)

Design Heat Load: **46,393 Btu/hour** at -3 degrees F outdoors

In [9]:
# Or, this might be a case where f-strings are not the cleanest.
# Here is another way:
md = 'Design Heat Load of Entire Building: **{design_heat_load:,.0f} Btu/hour** at {design_heat_temp:.0f} degrees F outdoors  \n(required output of heating system, no safety margin)'.format(**smy)
Markdown(md)

Design Heat Load of Entire Building: **46,393 Btu/hour** at -3 degrees F outdoors
(required output of heating system, no safety margin)

In [10]:
# Cash Flow over the life of the heat pump.
# Negative values are costs and positive values are benefits.
# When displaying this table delete the two columns that don't apply,
# depending on whether you are showing the PCE or no PCE case.
df_cash_flow

,cash_flow,cash_flow_no_pce,elec_cost,elec_cost_no_pce,fuel_cost,initial_cost,loan_cost,operating_cost
year,,,,,,,,
0,-1795.000000,-1795.000000,-0.000000,-0.000000,0.000000,-1795.0,0.000,-0.000000
1,-542.623366,-542.623366,-677.510665,-677.510665,442.100298,0.0,-297.213,-10.000000
2,-543.110571,-543.110571,-691.060879,-691.060879,455.363307,0.0,-297.213,-10.200000
3,-543.474889,-543.474889,-704.882096,-704.882096,469.024207,0.0,-297.213,-10.404000
4,-543.709885,-543.709885,-718.979738,-718.979738,483.094933,0.0,-297.213,-10.612080
5,-543.808873,-543.808873,-733.359333,-733.359333,497.587781,0.0,-297.213,-10.824322
6,-543.764913,-543.764913,-748.026520,-748.026520,512.515414,0.0,-297.213,-11.040808
7,-543.570797,-543.570797,-762.987050,-762.987050,527.890877,0.0,-297.213,-11.261624
8,-543.219044,-543.219044,-778.246791,-778.246791,543.727603,0.0,-297.213,-11.486857
9,-542.701889,-542.701889,-793.811727,-793.811727,560.039431,0.0,-297.213,-11.716594
10,-542.011273,-542.011273,-809.687961,-809.687961,576.840614,0.0,-297.213,-11.950926
11,-243.925832,-243.925832,-825.881721,-825.881721,594.145832,0.0,0.000,-12.189944
12,-242.862891,-242.862891,-842.399355,-842.399355,611.970207,0.0,0.000,-12.433743
13,-241.600446,-241.600446,-859.247342,-859.247342,630.329314,0.0,0.000,-12.682418
14,-240.129162,-240.129162,-876.432289,-876.432289,649.239193,0.0,0.000,-12.936066

In [11]:
# The Base case and w/ Heat Pump monthly energy results.
df_mo_en_base

,hp_load_mmbtu,secondary_load_mmbtu,hp_kwh,secondary_fuel_mmbtu,secondary_kwh,hp_kw,secondary_fuel_units,cop,total_kwh,co2_lbs
Jan,0.0,18.461917,0.0,23.077397,147.695339,0.0,222.539988,NaN,147.695339,2862.520298
Feb,0.0,16.553234,0.0,20.691542,132.425871,0.0,199.532713,NaN,132.425871,2566.578916
Mar,0.0,14.475321,0.0,18.094152,115.802572,0.0,174.485553,NaN,115.802572,2244.398593
Apr,0.0,8.344352,0.0,10.430440,66.754818,0.0,100.582838,NaN,66.754818,1293.791816
May,0.0,3.318966,0.0,4.148707,26.551724,0.0,40.006817,NaN,26.551724,514.605606
Jun,0.0,0.941304,0.0,1.176630,7.530434,0.0,11.346484,NaN,7.530434,145.949228
Jul,0.0,0.427261,0.0,0.534077,3.418091,0.0,5.150210,NaN,3.418091,66.246881
Aug,0.0,0.869847,0.0,1.087309,6.958779,0.0,10.485142,NaN,6.958779,134.869832
Sep,0.0,2.511192,0.0,3.138989,20.089533,0.0,30.269908,NaN,20.089533,389.360252
Oct,0.0,10.489951,0.0,13.112439,83.919609,0.0,126.445891,NaN,83.919609,1626.466919
Nov,0.0,15.777828,0.0,19.722285,126.222622,0.0,190.185966,NaN,126.222622,2446.352185
Dec,0.0,17.901378,0.0,22.376722,143.211022,0.0,215.783242,NaN,143.211022,2775.608618

In [12]:
df_mo_en_hp

,hp_load_mmbtu,secondary_load_mmbtu,hp_kwh,secondary_fuel_mmbtu,secondary_kwh,hp_kw,secondary_fuel_units,cop,total_kwh,co2_lbs
Jan,3.577076,14.884842,379.331599,18.606052,119.078734,1.738666,179.421911,2.763758,498.410333,2725.159464
Feb,4.693177,11.860057,516.958934,14.825071,94.880454,1.738666,142.961147,2.660737,611.839388,2407.556624
Mar,5.734345,8.740977,606.323036,10.926221,69.927813,1.693366,105.363748,2.771856,676.250848,2022.243756
Apr,3.544868,4.799484,338.500900,5.999356,38.395876,0.856022,57.852995,3.069242,376.896776,1116.511060
May,1.481855,1.837111,132.367577,2.296388,14.696884,0.574489,22.144534,3.281067,147.064462,430.448327
Jun,0.430376,0.510929,37.689314,0.638661,4.087430,0.431749,6.158736,3.346727,41.776744,120.677749
Jul,0.196321,0.230941,17.100687,0.288676,1.847525,0.298349,2.783759,3.364679,18.948212,54.618102
Aug,0.397006,0.472841,34.789257,0.591051,3.782727,0.421922,5.699625,3.344594,38.571984,111.582161
Sep,1.113018,1.398174,100.360208,1.747717,11.185388,0.693851,16.853586,3.250361,111.545596,327.183034
Oct,4.412686,6.077265,447.528093,7.596581,48.618117,1.544889,73.255359,2.889840,496.146209,1434.560779
Nov,5.338002,10.439826,587.694397,13.049782,83.518606,1.738666,125.841680,2.662062,671.213003,2265.158827
Dec,5.828083,12.073295,657.437746,15.091619,96.586360,1.544889,145.531521,2.598137,754.024106,2595.145910

In [13]:
# The monthly dollar flows with and without the heat pump
# The PCE and no PCE case are included in this one table
df_mo_dol_base

,elec_kwh,elec_kw,elec_dol,elec_dol_no_pce,secondary_fuel_units,secondary_fuel_dol,total_dol,total_dol_no_pce
Jan,550.000000,1.883562,112.769671,112.769671,222.539988,222.115026,334.884697,334.884697
Feb,499.506846,1.710640,103.165903,103.165903,199.532713,199.151686,302.317589,302.317589
Mar,457.781650,1.567745,95.229796,95.229796,174.485553,174.152355,269.382151,269.382151
Apr,449.677284,1.539991,93.688350,93.688350,100.582838,100.390765,194.079115,194.079115
May,400.000000,1.369863,84.239760,84.239760,40.006817,39.930420,124.170180,124.170180
Jun,375.674221,1.286556,79.613012,79.613012,11.346484,11.324816,90.937828,90.937828
Jul,369.634753,1.265872,78.464309,78.464309,5.150210,5.140375,83.604684,83.604684
Aug,383.300240,1.312672,81.063476,81.063476,10.485142,10.465119,91.528595,91.528595
Sep,396.581210,1.358155,83.589509,83.589509,30.269908,30.212105,113.801613,113.801613
Oct,426.347723,1.460095,89.251082,89.251082,126.445891,126.204430,215.455511,215.455511
Nov,463.807659,1.588382,96.375939,96.375939,190.185966,189.822786,286.198725,286.198725
Dec,494.027408,1.691875,102.123717,102.123717,215.783242,215.371182,317.494899,317.494899

In [14]:
df_mo_dol_hp

,elec_kwh,elec_kw,elec_dol,elec_dol_no_pce,secondary_fuel_units,secondary_fuel_dol,total_dol,total_dol_no_pce
Jan,900.714993,3.622227,179.475452,179.475452,179.421911,179.079286,358.554739,358.554739
Feb,978.920362,3.449306,194.350067,194.350067,142.961147,142.688148,337.038215,337.038215
Mar,1018.229926,3.261111,201.826722,201.826722,105.363748,105.162546,306.989268,306.989268
Apr,759.819242,2.396013,152.677165,152.677165,57.852995,57.742519,210.419684,210.419684
May,520.512737,1.944352,107.161211,107.161211,22.144534,22.102247,129.263458,129.263458
Jun,409.920531,1.718305,86.126640,86.126640,6.158736,6.146976,92.273615,92.273615
Jul,385.164874,1.564221,81.418128,81.418128,2.783759,2.778443,84.196571,84.196571
Aug,414.913445,1.734594,87.076289,87.076289,5.699625,5.688741,92.765030,92.765030
Sep,488.037274,2.052006,100.984397,100.984397,16.853586,16.821403,117.805800,117.805800
Oct,838.574323,3.004984,167.656334,167.656334,73.255359,73.115471,240.771805,240.771805
Nov,1008.798041,3.327048,200.032783,200.032783,125.841680,125.601373,325.634156,325.634156
Dec,1104.840492,3.236764,218.300000,218.300000,145.531521,145.253614,363.553614,363.553614

In [15]:
list(df_mo_en_base.columns.values)

['hp_load_mmbtu',
 'secondary_load_mmbtu',
 'hp_kwh',
 'secondary_fuel_mmbtu',
 'secondary_kwh',
 'hp_kw',
 'secondary_fuel_units',
 'cop',
 'total_kwh',
 'co2_lbs']

In [18]:
import plotly

plotly.tools.set_credentials_file(username='dustin_cchrc', api_key='yzYaFYf93PQ7D0VUZKGy')

import plotly.plotly as py
import plotly.graph_objs as go

## Monthly Heating Load

In [19]:
data = [go.Bar(x=df_mo_en_base.index,
           y=df_mo_en_base.secondary_load_mmbtu, 
             name='Monthly Heating Load')]

layout = go.Layout(title='Monthly Heating Load',
               xaxis=dict(title='Month'),
               yaxis=dict(title='Total Estimated Heat Load (MMBTU)', hoverformat='.1f')
                  )

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='estimated_heat_load', fileopt='overwrite')

## Heating Cost Comparison

In [21]:
# Combine the two datasets so that I can calcualte the cost savings and increases to use in the graph.
df_mo_dol_base_and_hp = pd.merge(df_mo_dol_base, df_mo_dol_hp, how='outer',
                                left_index=True, right_index=True, suffixes=('', '_w_hp'))

df_mo_dol_base_and_hp['cost_savings'] = np.where(df_mo_dol_base_and_hp.total_dol_w_hp < df_mo_dol_base_and_hp.total_dol,
                                          df_mo_dol_base_and_hp.total_dol - df_mo_dol_base_and_hp.total_dol_w_hp,
                                          0)

df_mo_dol_base_and_hp['cost_increases'] = np.where(df_mo_dol_base_and_hp.total_dol_w_hp > df_mo_dol_base_and_hp.total_dol,
                                            df_mo_dol_base_and_hp.total_dol - df_mo_dol_base_and_hp.total_dol_w_hp,
                                            0)

df_mo_dol_base_and_hp

,elec_kwh,elec_kw,elec_dol,elec_dol_no_pce,secondary_fuel_units,secondary_fuel_dol,total_dol,total_dol_no_pce,elec_kwh_w_hp,elec_kw_w_hp,elec_dol_w_hp,elec_dol_no_pce_w_hp,secondary_fuel_units_w_hp,secondary_fuel_dol_w_hp,total_dol_w_hp,total_dol_no_pce_w_hp,cost_savings,cost_increases
Jan,550.000000,1.883562,112.769671,112.769671,222.539988,222.115026,334.884697,334.884697,900.714993,3.622227,179.475452,179.475452,179.421911,179.079286,358.554739,358.554739,0.0,-23.670042
Feb,499.506846,1.710640,103.165903,103.165903,199.532713,199.151686,302.317589,302.317589,978.920362,3.449306,194.350067,194.350067,142.961147,142.688148,337.038215,337.038215,0.0,-34.720626
Mar,457.781650,1.567745,95.229796,95.229796,174.485553,174.152355,269.382151,269.382151,1018.229926,3.261111,201.826722,201.826722,105.363748,105.162546,306.989268,306.989268,0.0,-37.607117
Apr,449.677284,1.539991,93.688350,93.688350,100.582838,100.390765,194.079115,194.079115,759.819242,2.396013,152.677165,152.677165,57.852995,57.742519,210.419684,210.419684,0.0,-16.340569
May,400.000000,1.369863,84.239760,84.239760,40.006817,39.930420,124.170180,124.170180,520.512737,1.944352,107.161211,107.161211,22.144534,22.102247,129.263458,129.263458,0.0,-5.093278
Jun,375.674221,1.286556,79.613012,79.613012,11.346484,11.324816,90.937828,90.937828,409.920531,1.718305,86.126640,86.126640,6.158736,6.146976,92.273615,92.273615,0.0,-1.335787
Jul,369.634753,1.265872,78.464309,78.464309,5.150210,5.140375,83.604684,83.604684,385.164874,1.564221,81.418128,81.418128,2.783759,2.778443,84.196571,84.196571,0.0,-0.591888
Aug,383.300240,1.312672,81.063476,81.063476,10.485142,10.465119,91.528595,91.528595,414.913445,1.734594,87.076289,87.076289,5.699625,5.688741,92.765030,92.765030,0.0,-1.236434
Sep,396.581210,1.358155,83.589509,83.589509,30.269908,30.212105,113.801613,113.801613,488.037274,2.052006,100.984397,100.984397,16.853586,16.821403,117.805800,117.805800,0.0,-4.004187
Oct,426.347723,1.460095,89.251082,89.251082,126.445891,126.204430,215.455511,215.455511,838.574323,3.004984,167.656334,167.656334,73.255359,73.115471,240.771805,240.771805,0.0,-25.316294
Nov,463.807659,1.588382,96.375939,96.375939,190.185966,189.822786,286.198725,286.198725,1008.798041,3.327048,200.032783,200.032783,125.841680,125.601373,325.634156,325.634156,0.0,-39.435431
Dec,494.027408,1.691875,102.123717,102.123717,215.783242,215.371182,317.494899,317.494899,1104.840492,3.236764,218.300000,218.300000,145.531521,145.253614,363.553614,363.553614,0.0,-46.058715

In [22]:
hp_cost = go.Bar(x=df_mo_dol_base_and_hp.index,
             y=df_mo_dol_base_and_hp.total_dol_w_hp,
             name='Heat Pump Heating Cost', 
             marker=dict(color='#377eb8'))

cost_savings = go.Bar(x=df_mo_dol_base_and_hp.index,
                y=df_mo_dol_base_and_hp.cost_savings,
                name='Cost Savings',
                marker=dict(color='#4daf4a'))

cost_increases = go.Bar(x=df_mo_dol_base_and_hp.index,
                y=df_mo_dol_base_and_hp.cost_increases,
                name='Cost Increases',
                marker=dict(color='#e41a1c'))

no_hp_costs = go.Scatter(x=df_mo_dol_base_and_hp.index,
                        y=df_mo_dol_base_and_hp.total_dol,
                        name='Baseline Heating Costs',
                         mode='markers',
                         marker=dict(color='#000000', size=12)
                        )

data = [hp_cost, cost_savings, cost_increases, no_hp_costs]

layout = go.Layout(title='Heating Costs: Heat Pump vs. Baseline',
               xaxis=dict(title='Month'),
               yaxis=dict(title='Total Heating Costs', hoverformat='dol,.2f'),
                  barmode='stack')

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='heatpump_costs', fileopt='overwrite')

## Monthly Heat Pump Efficiency

In [23]:
efficiency = [go.Scatter(x=df_mo_en_hp.index,
                         y=df_mo_en_hp.cop, 
                        name='COP',
                        mode='lines+markers')]

layout = go.Layout(title='Monthly Heat Pump Efficiency',
                xaxis=dict(title='Month'),
                yaxis=dict(title='COP'))

fig = go.Figure(data=efficiency, layout=layout)

py.iplot(fig, layout=layout, filename='cop', fileopt='overwrite')

## Energy Use Comparison

In [24]:
list(df_mo_en_base.columns.values)

['hp_load_mmbtu',
 'secondary_load_mmbtu',
 'hp_kwh',
 'secondary_fuel_mmbtu',
 'secondary_kwh',
 'hp_kw',
 'secondary_fuel_units',
 'cop',
 'total_kwh',
 'co2_lbs']

In [ ]:
# Need to account for the case where the heat pump is replacing 
# electric resistance heat

# Also should change the y-axis title to the actual type of heating 
# fuel that is being used with the proper units

In [25]:
from plotly import tools

elec_no_hp = go.Scatter(x=df_mo_en_base.index,
                        y=df_mo_en_base.total_kwh,
                        name='Monthly kWh (no Heat Pump)',
                        line=dict(color='#92c5de',
                                 width=2,
                                 dash='dash')
                        )

elec_w_hp = go.Scatter(x=df_mo_en_hp.index,
                      y=df_mo_en_hp.total_kwh,
                      name='Monthly kWh (with Heat Pump)',
                      mode='lines',
                      marker=dict(color='#0571b0')
                      )

fuel_no_hp = go.Scatter(x=df_mo_en_base.index,
                       y=df_mo_en_base.secondary_fuel_units,
                       name='Monthly Fuel Usage (no Heat Pump)',
                       line=dict(color='#f4a582',
                                width = 2,
                                dash = 'dash')
                       )

fuel_w_hp = go.Scatter(x=df_mo_en_hp.index,
                      y=df_mo_en_hp.secondary_fuel_units,
                      name='Monthly Fuel Usage (with Heat Pump)',
                      mode='lines',
                      marker=dict(color='#ca0020'))

fig = tools.make_subplots(rows=2, cols=1)

fig.append_trace(elec_no_hp, 1, 1)
fig.append_trace(elec_w_hp, 1, 1)
fig.append_trace(fuel_no_hp, 2, 1)
fig.append_trace(fuel_w_hp, 2, 1)

fig['layout'].update(title='Energy Usage: Heat Pump vs. Baseline')

fig['layout']['xaxis1'].update(title='Month')
fig['layout']['xaxis2'].update(title='Month')
fig['layout']['yaxis1'].update(title='Electricity Use (kWh)', hoverformat='.0f')
fig['layout']['yaxis2'].update(title='Heating Fuel Use', hoverformat='.1f')

py.iplot(fig, filename='heatpump_energy_usage', fileopt='overwrite')

This is the format of your plot grid:
[ (1,1) x1,y1 ]
[ (2,1) x2,y2 ]

## Cash Flow Visualization

In [71]:
df_cash_flow

,cash_flow,cash_flow_no_pce,elec_cost,elec_cost_no_pce,fuel_cost,initial_cost,loan_cost,operating_cost
year,,,,,,,,
0,-1795.000000,-1795.000000,-0.000000,-0.000000,0.000000,-1795.0,0.000,-0.000000
1,-542.623366,-542.623366,-677.510665,-677.510665,442.100298,0.0,-297.213,-10.000000
2,-543.110571,-543.110571,-691.060879,-691.060879,455.363307,0.0,-297.213,-10.200000
3,-543.474889,-543.474889,-704.882096,-704.882096,469.024207,0.0,-297.213,-10.404000
4,-543.709885,-543.709885,-718.979738,-718.979738,483.094933,0.0,-297.213,-10.612080
5,-543.808873,-543.808873,-733.359333,-733.359333,497.587781,0.0,-297.213,-10.824322
6,-543.764913,-543.764913,-748.026520,-748.026520,512.515414,0.0,-297.213,-11.040808
7,-543.570797,-543.570797,-762.987050,-762.987050,527.890877,0.0,-297.213,-11.261624
8,-543.219044,-543.219044,-778.246791,-778.246791,543.727603,0.0,-297.213,-11.486857
9,-542.701889,-542.701889,-793.811727,-793.811727,560.039431,0.0,-297.213,-11.716594
10,-542.011273,-542.011273,-809.687961,-809.687961,576.840614,0.0,-297.213,-11.950926
11,-243.925832,-243.925832,-825.881721,-825.881721,594.145832,0.0,0.000,-12.189944
12,-242.862891,-242.862891,-842.399355,-842.399355,611.970207,0.0,0.000,-12.433743
13,-241.600446,-241.600446,-859.247342,-859.247342,630.329314,0.0,0.000,-12.682418
14,-240.129162,-240.129162,-876.432289,-876.432289,649.239193,0.0,0.000,-12.936066

In [72]:
df_cash_flow['negative_flow'] = np.where(df_cash_flow.cash_flow < 0, df_cash_flow.cash_flow, 0)
df_cash_flow['positive_flow'] = np.where(df_cash_flow.cash_flow > 0, df_cash_flow.cash_flow, 0)

In [75]:
negative_flow = go.Bar(x=df_cash_flow.index,
                        y=df_cash_flow.negative_flow,
                        name='Negative Cash Flow', 
                        marker=dict(color='#d7191c'))

positive_flow = go.Bar(x=df_cash_flow.index,
                        y=df_cash_flow.positive_flow,
                        name='Positive Cash Flow', 
                        marker=dict(color='#000000'))

data = [negative_flow, positive_flow]

layout = go.Layout(title='Heat Pump Cash Flow',
               xaxis=dict(title='Year'),
               yaxis=dict(title='Annual Cash Flow ($)', hoverformat='dol,.2f')
                  )

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='cash_flow', fileopt='overwrite')

## Markdown Display of Results

In [ ]:
## Need to account for NaN internal rate of return (hide somehow)

### With PCE

In [60]:
md_results = '''# Results

## Heat Pump Cost Effectiveness

### Net Present Value:  **\${:,.0f}**
The Net Present Value of installing an air-source heat pump is estimated to be **\${:,.0f}**. 
This means that over the course of the life of the equipment you will {} **\${:,.0f}** in today's dollars.

### Internal Rate of Return:  **{:.1f}%**
The internal rate of return on the investment is estimated to be **{:.1f}%**. Compare this tax-free investment to your other investment options.

### Cash Flow
This is how your cash flow will be affected by installing a heat pump:


## Greenhouse Gas Emissions

Installing a heat pump is predicted to save {:,.0f} pounds of CO2 emissions annually, or {:,.0f} pounds over the life of the equipment.
This is equivalent to a reduction of {:,.0f} miles driven by an average passenger vehicle annually, or {:,.0f} over the equipment's life.  
'''

In [61]:
def npv_indicator(summary, pce_indicator):
    if pce_indicator == 1:
        if summary['npv'] > 0:
            return 'earn'
        else:
            return 'lose'
    else: 
        if summary['npv_no_pce'] > 0:
            return 'earn'
        else:
            return 'lose'

In [62]:
smy

{'co2_driving_miles_saved': 1632.4183834663284,
 'co2_lbs_saved': 1455.9033512437309,
 'cop': 2.792958086318037,
 'design_heat_load': 46393.01985663801,
 'design_heat_temp': -2.9200000000000017,
 'elec_rate_avg_base': 0.20879296302967482,
 'elec_rate_avg_hp': 0.20129082055276415,
 'elec_use_base': 5266.3389940722445,
 'elec_use_chg': 3562.107247711123,
 'elec_use_hp': 8828.446241783367,
 'fuel_desc': 'Natural Gas',
 'fuel_unit': 'ccf',
 'fuel_use_base': 1326.8147507731203,
 'fuel_use_chg': -442.94614838381267,
 'fuel_use_hp': 883.8686023893076,
 'hp_max_capacity_5F': 15046.92,
 'irr': nan,
 'irr_no_pce': nan,
 'max_hp_reached': False,
 'npv': -6516.8581747437875,
 'npv_no_pce': -6516.8581747437875}

In [63]:
smy['npv']

-6516.8581747437875

In [64]:
md = md_results.format(smy['npv'],
                       smy['npv'],
                      npv_indicator(smy, 1),
                      abs(smy['npv']),
                      smy['irr']*100,
                       smy['irr']*100,
                      smy['co2_lbs_saved'],
                      smy['co2_lbs_saved'] * 12,
                      smy['co2_driving_miles_saved'],
                      smy['co2_driving_miles_saved'] * 12)
Markdown(md)

# Results

## Heat Pump Cost Effectiveness

### Net Present Value:  **\$-6,517**
The Net Present Value of installing an air-source heat pump is estimated to be **\$-6,517**.
This means that over the course of the life of the equipment you will lose **\$6,517** in today's dollars.

### Internal Rate of Return:  **nan%**
The internal rate of return on the investment is estimated to be **nan%**. Compare this tax-free investment to your other investment options.

### Cash Flow
This is how your cash flow will be affected by installing a heat pump:


## Greenhouse Gas Emissions

Installing a heat pump is predicted to save 1,456 pounds of CO2 emissions annually, or 17,471 pounds over the life of the equipment.
This is equivalent to a reduction of 1,632 miles driven by an average passenger vehicle annually, or 19,589 over the equipment's life.

### Without PCE

In [67]:
no_pce_economic_md_results = '''# Results

## Heat Pump Cost Effectiveness without Power Cost Equalization (PCE)

### Net Present Value:  **\${:,.0f}**

The Net Present Value of installing an air-source heat pump is estimated to be **\${:,.0f}** if the PCE subsidy is not included. This means that over the course of the life of the equipment 
you **will {} \${:,.0f}** in today's dollars.

### Internal Rate of Return:  **{:.1f}%**

The internal rate of return on the investment is estimated to be **{:.1f}%** if the PCE subsidy is not included. Compare this tax-free investment to your other investment options.

### Cash Flow

This is how your cash flow will be affected by installing a heat pump if the PCE subsidy is not included:
'''

In [69]:
no_pce_md = no_pce_economic_md_results.format(smy['npv_no_pce'],
                                              smy['npv_no_pce'],
                                              npv_indicator(smy, 0),
                                              abs(smy['npv_no_pce']),
                                              smy['irr_no_pce']*100,
                                              smy['irr_no_pce']*100,
                                              smy['co2_lbs_saved'],
                                              smy['co2_lbs_saved'] * 12,
                                              smy['co2_driving_miles_saved'],
                                              smy['co2_driving_miles_saved'] * 12
                                             )
no_pce_md

"# Results\n\n## Heat Pump Cost Effectiveness without Power Cost Equalization (PCE)\n\n### Net Present Value:  **\\$-6,517**\n\nThe Net Present Value of installing an air-source heat pump is estimated to be **\\$-6,517** if the PCE subsidy is not included. This means that over the course of the life of the equipment \nyou **will lose \\$6,517** in today's dollars.\n\n### Internal Rate of Return:  **nan%**\n\nThe internal rate of return on the investment is estimated to be **nan%** if the PCE subsidy is not included. Compare this tax-free investment to your other investment options.\n\n### Cash Flow\n\nThis is how your cash flow will be affected by installing a heat pump if the PCE subsidy is not included:\n"

In [70]:
Markdown(no_pce_md)

# Results

## Heat Pump Cost Effectiveness without Power Cost Equalization (PCE)

### Net Present Value:  **\$-6,517**

The Net Present Value of installing an air-source heat pump is estimated to be **\$-6,517** if the PCE subsidy is not included. This means that over the course of the life of the equipment
you **will lose \$6,517** in today's dollars.

### Internal Rate of Return:  **nan%**

The internal rate of return on the investment is estimated to be **nan%** if the PCE subsidy is not included. Compare this tax-free investment to your other investment options.

### Cash Flow

This is how your cash flow will be affected by installing a heat pump if the PCE subsidy is not included: